@font-face {
 font-family: 'Open Sans';
 src: url('../fonts/OpenSans-Regular.eot');
 src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
 	  url('../fonts/OpenSans-Regular.woff') format('woff'),
 	  url('../fonts/OpenSans-Regular.ttf') format('truetype'),
	  url('../fonts/OpenSans-Regular.svg#open_sansregular') format('svg');
 font-weight: 400;
 font-style: normal;
}
@font-face {
 font-family: 'Open Sans';
 src: url('../fonts/OpenSans-Semibold-webfont.eot');
 src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
 	  url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
  	  url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
 	  url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
 font-weight: 600;
 font-style: normal;
}
@font-face {
     font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

/*
font-family: 'open_sansregular';
font-family: 'open_sanssemibold';
font-family: 'open_sansbold';
*/


@font-face {
  font-family: 'sk-icons';
  src:  url('../fonts/sk-icons.eot?9ka75a');
  src:  url('../fonts/sk-icons.eot?9ka75a#iefix') format('embedded-opentype'),
    url('../fonts/sk-icons.ttf?9ka75a') format('truetype'),
    url('../fonts/sk-icons.woff?9ka75a') format('woff'),
    url('../fonts/sk-icons.svg?9ka75a#sk-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sk-icon-"], [class*=" sk-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sk-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display:inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sk-icon-menu:before {
  content: "\e900";
}
.sk-icon-hour-glass:before {
  content: "\e901";
}
.sk-icon-refresh:before {
  content: "\e902";
}
.sk-icon-check-round:before {
  content: "\e903";
}
.sk-icon-logout:before {
  content: "\e904";
}
.sk-icon-search:before {
  content: "\e905";
}
.sk-icon-bell:before {
  content: "\e906";
}
.sk-icon-filter:before {
  content: "\e907";
}
.sk-icon-info:before {
  content: "\e908";
}
.sk-icon-map-pin:before {
  content: "\e909";
}
.sk-icon-user:before {
  content: "\e90a";
}
.sk-icon-home:before {
  content: "\e90b";
}
.sk-icon-water-heater:before {
  content: "\e90c";
}
.sk-icon-ac:before {
  content: "\e90d";
}
.sk-icon-door:before {
  content: "\e90e";
}
.sk-icon-fan:before {
  content: "\e90f";
}
.sk-icon-water-pump:before {
  content: "\e910";
}
.sk-icon-trash:before {
  content: "\e911";
}
.sk-icon-edit:before {
  content: "\e912";
}
.sk-icon-gear:before {
  content: "\e913";
}
.sk-icon-calendar:before {
  content: "\e914";
}
.sk-icon-calendar-check:before {
  content: "\e915";
}
.sk-icon-check-big:before {
  content: "\e916";
}
.sk-icon-check-mid:before {
  content: "\e917";
}
.sk-icon-check-small:before {
  content: "\e918";
}
.sk-icon-angle-left:before {
  content: "\e919";
}
.sk-icon-angle-right:before {
  content: "\e91a";
}
.sk-icon-angle-up:before {
  content: "\e91b";
}
.sk-icon-angle-down:before {
  content: "\e91c";
}
.sk-icon-plus-big:before {
  content: "\e91d";
}
.sk-icon-plus-small:before {
  content: "\e91e";
}
.sk-icon-minus-small:before {
  content: "\e91f";
}
.sk-icon-plus-round:before {
  content: "\e920";
}
.sk-icon-minus-round:before {
  content: "\e921";
}
.sk-icon-close-big:before {
  content: "\e922";
}
.sk-icon-close-small:before {
  content: "\e923";
}
