body {
	font-family:Poppins;
	font-size:14px;
	color:#777
}
.row {
	margin-left:0px;
	margin-right:0px;
}
.add-dentist .left-info a, .devbg {
	text-align:center;
	z-index:100;
	width:100%
}
header {
	min-height:480px;
	padding:20px 0;
}
.video-container {
	position:absolute;
	top:0px;
	background-color:rgba(0, 0, 0, 0.2);
	width:100%;
	max-height:480px;
	overflow:hidden;
}
header #insurance {
	opacity:0;
}
header .login-buttons .button {
	float:right;
	font-weight:500;
	margin-top:10px;
	line-height:19px;
	letter-spacing:2px;
	font-size:15px
}
header .login-buttons .button.registration {
	background-color:#46535e;
	padding:6px 13px;
	border:2px solid #46535e;
}
header .login-buttons .button.registration:hover {
	background-color:#fff;
	color:#34495E;
	border:2px solid #34495E;
}
header .login-buttons .button.sign_in_join {
	float:right;
	background-color:rgba(255, 255, 255, .9);
	color:#46535e;
	border:2px solid #46535e;
	margin-right:10px;
	padding:6px 13px;
}
header .login-buttons .button.sign_in_join:hover {
	background-color:#46535e;
	color:rgba(255, 255, 255, .9);
}
.button {
	border-radius:3px;
	color:#fff;
	background-color:#131a22;
	padding:9px 25px;
	text-transform:uppercase;
	display:block;
	float:left;
	border:none
}
a.button:focus, a.button:hover {
	text-decoration:none;
	color:#fff
}
header .finder-form {
	margin-top:40px;
	background:rgba(0, 0, 0, .6);
	padding-top:20px;
	margin-bottom:30px;
	margin-top:30px;
}
header .finder-form .button {
	width:100%;
	padding:9px 17px;
	font-size:24px;
}
header .finder-form label {
	font-size:24px;
	font-weight:300;
	text-shadow:1px 1px 0 #000;
	color:#fff;
	display:inline-block;
	float:left;
	display:block;
	margin-right:10px;
}
header .finder-form input {
	width:auto;
	border:none;
	width:220px;
	color:#fff;
	padding:0px 15px;
	background:none;
	float:left;
	display:block;
	font-size:24px;
	border-bottom:1px solid #fff;
}
header .finder-form input::-webkit-input-placeholder, header .finder-form input::-moz-placeholder, header .finder-form input:-moz-placeholder, header .finder-form input:-ms-input-placeholder {
color:#eeeeee;
}
header .finder-form .searchTextBox {
	color:#fff;
	width:500px;
	display:block;
}
header .finder-form input:focus {
	outline:0;
}
header .finder {
	margin-top:207px;
	text-align:center
}
header .finder h1 {
	color:#fff;
	text-shadow:1px 1px 0 #000;
	font-weight:500;
	font-size:4em;
	margin-bottom:25px;
}
header .finder .diselect {
	width:100%;
	padding:0px 37px 0px 15px;
	width:250px;
	float:left;
	font-size:24px;
	border-bottom:1px solid #fff;
}
header .finder .diselect .current {
	cursor:pointer;
	text-align:left;
	overflow:hidden;
}
header .finder .diselect .current i {
	right:10px;
	display:block;
	top:1px;
	position:absolute;
	color:#fff;
}
header .finder .diselect ul {
	position:absolute;
	width:250px;
	text-align:left;
	margin:3px 0 0;
	padding:0;
	max-height:250px;
	overflow-y:scroll;
	display:none;
	color:#fff;
	background:rgba(0, 0, 0, .3);
}
header .finder .diselect ul li {
	list-style:none;
	padding:5px 15px 5px 20px;
	cursor:pointer;
	font-size:16px;
}
header .finder .diselect ul li:hover {
	background:rgba(0, 0, 0, .5);
}
header .finder .diselect ul li.selected:before {
	font-family:FontAwesome;
	content:"\f00c";
	font-size:18px;
	color:#fff;
	margin-left:-18px;
	margin-top:2px
}
header .finder .diselect ul li.unselected {
	color:#aaa;
	font-size:18px;
	cursor:auto;
	padding:5px 15px
}
header .finder .diselect ul li.unselected:hover {
	background:#fff
}
.text-row1 {
	text-align:center;
	padding-top:55px;
	margin-bottom:45px
}
.text-row1 h3 {
	font-size:2.3em;
	color:#11abc3;
	margin:0 auto;
	line-height:48px;
	font-weight:700
}
.text-row1 p {
	font-size:1.31em;
	line-height:31px;
	margin-top:16px
}
.doctor-list.grey {
	background-color:#f0f3f3;
	margin-top:-63px;
}
.doctor-list {
	padding:45px 10px 23px;
}
.doctor-list h2 {
	font-weight:700;
	color:#34495e;
	font-size:2.14em
}
.reviews h2:after, .specialties h2:after {
	left:50%;
}
.doctor-list h2:after {
	left:12px;
}
.reviews h2:after, .specialties h2:after, .doctor-list h2:after {
	width:25px;
	content:" ";
	position:absolute;
	margin-top:48px;
	border-bottom:2px solid #11abc3
}
.doctor-list ul {
	padding:0;
	margin:50px 0
}
.doctor-list ul li {
	margin-bottom:15px;
	border:none;
	padding:0;
	width:9.5%;
	margin-right:3%;
	vertical-align:top;
	position:relative;
	overflow:hidden;
}
.doctor-list.grey ul li {
	position:relative;
	z-index:2;
	overflow:hidden;
}
.doctor-list ul li:last-child {
	margin-right:0;
}
.doctor-list ul li div.pic {
	width:100%;
	height:auto;
}
.doctor-list ul li div.pic img {
	max-width:235px;
	position:relative;
	width:100%;
-webkit-transition:.4s ease-out;
-o-transition:.4s ease-out;
-moz-transition:.4s ease-out;
transition:.4s ease-out;
}
.doctor-list ul li:hover div.pic img {
	opacity:.5;
	-webkit-transform:scale(1.4, 1.4);
	-moz-transform:scale(1.4, 1.4);
	-ms-transform:scale(1.4, 1.4);
	-o-transform:scale(1.4, 1.4);
	transform:scale(1.4, 1.4);
}
.doctor-list ul li div.info {
	position:absolute;
	padding:5px 10px;
	margin-top:-45px;
	background:rgba(19, 26, 34, .7);
	width:100%;
	line-height:18px;
	border-top:3px solid #19b8d1;
-webkit-transition:.4s ease-out;
-o-transition:.4s ease-out;
-moz-transition:.4s ease-out;
transition:.4s ease-out;
}
.doctor-list ul li div.info a {
	color:#fff;
	font-weight:400;
	font-size:14px;
	word-wrap:break-word;
}
.doctor-list ul li div.info .progress {
	margin-top:6px;
	border:none;
}
.doctor-list .diindex {
	font-size:10px;
	font-weight:700;
	letter-spacing:.125em;
	color:#fff;
	text-transform:uppercase
}
.doctor-list .diindex span {
	color:#11abc3
}
.doctor-list .progress {
	width:100%;
	border:1px solid #eee;
	border-radius:7px;
	margin:0 auto;
	display:inline-block;
	height:10px
}
.doctor-list .progress .progress-bar {
	background-color:#62ca9d;
}
.specialties {
	background-color:#131a22;
	padding:50px 10px 90px;
	margin-top:-63px;
}
.specialties a {
	text-decoration:none;
	border-radius:4px;
	display:block
}
.specialties h2 {
	font-weight:600;
	color:#fff;
	font-size:2.2em;
	text-align:center;
	margin-bottom:70px
}
.specialties .tab-pane a {
	float:left;
	padding:7px 0 7px 20px;
	background-color:#3e556b;
	margin:0 1.6% 15px 1.6%;
	width:30%;
	color:#fff;
	font-size:11px;
}
.specialties .tab-pane a span {
	background-color:#46617a;
	float:right;
	display:block;
	font-weight:300;
	padding:7px;
	margin:-7px 0;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	font-size:11px;
}
.specialties .nav.nav-tabs {
	border-bottom:none;
	margin-bottom:10px;
}
.specialties .nav-tabs>li {
	background:none;
	width:33.3%!important;
}
.specialties .nav-tabs>li a {
	border:0;
}
.specialties .nav-tabs .show_dentist_tab {
	width:50%!important;
	max-width:none!important;
}
.show_dentist_tab a {
	border-radius:6px 0 0 6px!important;
}
.show_office_tab a {
	border-radius:0 6px 6px 0!important;
}
.show_dentist_tab a, .show_office_tab a {
	text-align:center;
	padding-top:20px!important;
	padding-bottom:20px!important;
	font-size:22px!important;
}
.specialties .home_dentist_tab ul.nav.nav-tabs li a, .specialties .home_office_tab ul.nav.nav-tabs li a {
	font-size:18px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}
.specialties .home_dentist_tab ul.nav.nav-tabs li:first-child a, .specialties .home_office_tab ul.nav.nav-tabs li:first-child a {
	border-radius:6px 0 0 6px!important;
}
.specialties .home_dentist_tab ul.nav.nav-tabs li:nth-child(2) a, .specialties .home_office_tab ul.nav.nav-tabs li:nth-child(2) a {
border-radius:0!important;
}
.specialties .home_dentist_tab ul.nav.nav-tabs li:last-child a, .specialties .home_office_tab ul.nav.nav-tabs li:last-child a {
	border-radius:0 6px 6px 0!important;
}
.specialties li.active a, .specialties li.active a {
	background-color:rgba(62, 85, 108, .6)!important;
	color:#fff!important;
	border:0!important;
}
.specialties li.active a:hover, .specialties li.active a:hover {
	color:#fff!important;
}
.specialties .nav-tabs .show_office_tab {
	width:50%!important;
	max-width:none!important;
}
.specialties .nav-tabs>li>a:hover {
	color:#23527c!important;
}
.specialties .nav-tabs>li.active>a:hover {
	color:#fff!important;
}
.specialties .nav-tabs a {
	background-color:#3e556b;
	color:#fff;
}
.reviews {
	padding:60px 10px 50px;
	background-color:#131a22;
	margin-top:-63px;
}
.reviews .item {
	color:#34495e;
	margin:10px;
	text-align:center;
	font-size:1em
}
.reviews .owl-carousel .item p {
	font-family:Merriweather;
	color:#fff;
	line-height:30px;
	font-size:1.3em
}
.reviews .owl-carousel .item div.review_dentist_link {
	text-align:center;
}
.reviews .owl-carousel .item div.review_dentist_link a {
	padding:10px 60px;
	margin-top:5px;
}
.reviews .owl-carousel .item div.review_dentist_link .dentist_list_container {
	width:120px;
	height:120px;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	position:relative;
	z-index:3;
}
.reviews .owl-carousel .item div {
	color:#11abc3;
	font-size:1em;
	font-weight:600;
	text-align:right;
	text-transform:capitalize;
	padding-right:10px;
}
.reviews h2 {
	color:#fff;
	font-size:2.2em;
	font-weight:600;
	margin-bottom:30px;
	text-align:center;
}
.reviews .owl-carousel .item {
	background:rgba(0, 0, 0, 0) url(../assets/img/quote-new.png) no-repeat scroll 50% 0;
	padding:50px 10px 10px 10px;
}
.reviews .owl-theme .owl-controls {
	margin-top:0;
}
.owl-theme .owl-controls .owl-dots {
	margin:0 auto;
	text-align:center;
}
.owl-theme .owl-controls .owl-dot {
	display:inline-block;
}
.owl-theme .owl-controls .owl-dots .active span {
	opacity:0.8;
}
.owl-theme .owl-controls .owl-dots span {
	background:none repeat scroll 0 0 #869791;
	border-radius:20px;
	display:block;
	height:12px;
	margin:5px 7px;
	opacity:0.5;
	width:12px;
}
.reviews .col-md-1 a {
	float:left;
	font-size:3.3em;
	margin-top:60px;
	color:#596b7c;
	cursor:pointer;
}
.reviews .col-md-1 .next {
	float:right
}
.add-dentist {
	background-color:#19b8d1;
	overflow:hidden;
	position:relative;
	margin-bottom:20px;
}
.add-dentist .left-info {
	padding:35px 0 50px 65px;
	color:#fff
}
.add-dentist .left-info h2 {
	font-size:3.2em;
	font-weight:700
}
.add-dentist .left-info p {
	margin-top:27px;
	font-family:Merriweather;
	font-size:1.6em
}
.add-dentist .left-info ul {
	margin:27px 0 0;
	padding:0 0 0 33px;
	line-height:40px;
	font-size:1.28em
}
.add-dentist .left-info ul li {
	list-style:none
}
.add-dentist .left-info ul li:before {
	content:"\f00c";
	font-family:FontAwesome;
	position:absolute;
	left:63px;
	font-size:1.2em;
	color:#34495e
}
.add-dentist .left-info a {
	padding:15px 30px;
	color:#fff;
	margin-top:30px;
	float:left;
	text-transform:uppercase;
	font-size:1.15em
}
.add-dentist .right-bg img {
	z-index:2;
	position:relative;
	margin:80px 0 0 97px
}
.add-dentist .background {
	-webkit-transform:rotate(193deg);
	transform:rotate(193deg);
	background-color:#11abc3;
	margin:0;
	width:1600px;
	height:1150px;
	z-index:1;
	top:0;
	position:absolute
}
.advantages {
	margin:100px auto 0;
	background:url(../assets/img/linebg.png) center repeat-y;
	background-size:4px 500px
}
.advantages:after {
	width:100%;
	height:125px;
	content:" ";
	background:url(../assets/img/dot.png) center bottom no-repeat
}
.advantages ul {
	padding:0;
	margin:0 100px
}
.advantages h4 {
	line-height:35px;
	margin-top:18px;
	font-size:1.32em;
	font-weight:600;
	color:#34495e
}
.dconnect h2, .dconnect h3 {
	font-weight:700
}
.advantages p {
	margin:0 15px;
	font-size:1.1em;
	line-height:25px
}
.advantages ul li {
	background-color:#f5f5f5;
	text-align:center;
	list-style:none;
	max-width:300px;
	min-height:500px;
	float:left;
	margin-right:5%;
	padding:50px 10px;
	border-radius:5px;
	border:1px solid #eaeaea;
	box-shadow:0 5px 10px 0 rgba(0, 0, 0, .2)
}
.download-app:after, .download-app:before {
	width:100%;
	content:" "
}
.advantages ul li:last-child {
	margin-right:0
}
.dconnect h2 {
	color:#34495e;
	font-size:3.3em
}
.dconnect h3 {
	font-size:3.4em;
	color:#11abc3
}
.download-app {
	padding:0 10px;
	background:url(../assets/img/linebg.png) center repeat-y;
	margin-top:30px;
	margin-bottom:20px;
}
.download-app:before {
	height:88px;
	background:url(../assets/img/dot.png) center top no-repeat
}
.download-app:after {
	height:75px;
	background:url(../assets/img/dot.png) center bottom no-repeat
}
.download-app .image img {
	margin:2px 0 0 96px;
}
.download-app h3 {
	margin-top:108px;
	font-weight:600
}
.download-app p {
	line-height:34px;
	font-size:1.1em;
	padding:0 100px 0 0
}
.download-app button {
	padding:10px 20px 10px 35px;
	margin-top:18px;
	line-height:25px
}
.download-app button i {
	color:#147989;
	font-size:1.8em;
	margin:0 0 0 10px
}
.contactus {
	background-color:#11abc3;
	color:#fff;
	font-size:1.7em;
	padding-top:27px;
	padding-bottom:27px;
	margin-top:30px
}
.login-buttons .col-md-7, .login-buttons .col-md-4 {
	overflow:hidden;
}
.login-buttons .col-md-4 {
	min-width:150px;
}
header .finder-form .place .place-input-home {
	float:left;
	overflow:initial;
	height:42px;
}
header .finder-form .place .place-label-home {
	background:rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-color:-moz-use-text-color -moz-use-text-color #fff;
	border-image:none;
	border-style:none none solid;
	border-width:medium medium 1px;
	color:#fff;
	display:block;
	float:left;
	font-size:24px;
	margin-right:0;
	margin-bottom:0;
	font-weight:normal;
	padding:0 15px;
	text-shadow:none;
	cursor:text;
}
header .finder-form .place {
	width:auto;
	display:inline-block;
	margin-top:10px;
	margin-right:5px;
	position:relative;
}
header .finder-form .form-group .suggestresult {
	margin-top:36px;
	width:auto;
	border:none!important;
	background:none!important;
	z-index:4;
	position:relative;
}
header .finder-form .form-group .suggestresult ul {
	background:rgba(0, 0, 0, .7)!important;
	padding:0px!important;
	border:none!important;
}
header .finder-form .form-group .suggestresult ul li {
	list-style:none!important;
	color:#fff!important;
	border-bottom:1px solid #ddd!important;
	cursor:pointer;
}
.suggestresult li.selected {
	background:rgba(0, 0, 0, 0.9);
}
header .finder-form .insurance {
	width:auto;
	display:inline-block;
	margin-right:5px;
}
header .finder-form .insurance .diselect {
	position:relative;
	height:100%;
}
header .finder-form .insurance .diselect ul {
	right:0px;
	z-index:4;
	background:rgba(0, 0, 0, .5);
}
header .finder-form .find {
	width:auto;
	display:inline-block;
	margin-bottom:10px;
}
header .finder-form .find .button {
	width:100%;
}
.footer-blue {
	background:#00bcd7;
	text-align:center;
	padding-bottom:15px;
}
.footer-blue a {
	color:#027f91;
	font-size:14px;
}
.footer-blue.first {
	padding-top:15px;
	padding-bottom:0px;
}
.footer-blue.first a {
	color:#fff;
	font-size:16px;
}
.footer-blue.first.contact-us {
	padding:13px 0 0;
	border-bottom:1px solid #00c7e4;
	margin-top:-63px;
}
.footer-blue.first.contact-us a {
	font-size:22px;
}
.footer-blue.first.contact-us a i {
	color:#fff;
	font-size:19px;
	margin-right:10px;
}
.footer-blue ul {
	margin:0px;
	padding:0px;
}
.footer-blue ul li {
	display:inline;
	margin:0px 20px;
	line-height:40px;
}
.footer-blue.first.contact-us ul li {
	line-height:60px;
}
.footer {
	background:#34495e;
	text-align:center;
}
.footer .col-lg-8.col-md-8.col-sm-8 a {
	color:#fff;
}
.footer .col-lg-8.col-md-8.col-sm-8 {
	color:#fff;
	line-height:60px;
	text-transform:uppercase;
	font-size:11px;
	letter-spacing:.5px;
}
.search_in_text {
	margin-top:5px;
	float:left;
	width:87%;
}
#search_type {
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	-moz-border-right-colors:none;
	-moz-border-top-colors:none;
	background:rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-color:-moz-use-text-color;
	border-image:none;
	border-style:none none solid;
	border-width:0 0 1px;
	color:#fff;
	font-size:14px;
	min-width:150px;
}
#search_type option {
	background:rgba(0, 0, 0, 0.5);
}
#search_type_text {
	color:#fff;
	cursor:pointer;
	font-size:14px;
	line-height:24px;
}
header .finder.v3 {
	margin-top:45px;
}
header .finder-form.v3 {
	margin:0 auto;
	float:none;
	background:none;
	border-radius:10px;
	min-height:190px;
}
header .finder-form.v3 .place {
	margin-right:25px;
	height:47px;
}
header .finder-form.v3 .place .place-label-home {
	border-style:solid;
	border-width:1px;
	font-size:18px;
	padding:10px 25px;
}
header .finder-form.v3 .diselect {
	padding:2px 37px 3px 0px;
	font-size:18px;
	border:1px solid #fff;
	border-radius:5px;
}
header .finder-form.v3 .search_in_text {
	float:none;
	width:auto;
	color:#fff;
	margin:15px 0;
}
header .finder-form.v3 .search_in_text span {
	font-size:16px;
	margin-right:5px;
}
header .finder-form.v3 .button {
	padding:5px 40px;
	text-transform:uppercase;
	font-size:20px;
}
header .finder-form.v3 input {
	width:100%;
	height:45px;
	font-size:18px;
	border:1px solid;
	padding:10px 15px;
	border-radius:5px;
	float:none;
}
header .finder-form.v3 .select2-container {
	font-size:18px;
	border:1px solid #fff;
	border-radius:5px;
	text-align:left;
	padding-left:15px;
}
header .finder-form.v3 .search_in_text .radio-inline {
	margin-right:5px;
}
header .finder-form.v3 .search_in_text input {
	width:auto;
	padding:0;
	float:none;
	display:inline;
}
header .finder-form.v3 .place .place-input-home {
}
header .finder-form.v3 .form-group .suggestresult {
	margin-top:0;
	width:93%;
	position:absolute;
	z-index:99;
}
header .finder-form.v3 .search_in_text input {
	visibility:hidden;
}
header .finder-form.v3 .search_in_text label>img {
	display:inline-block;
	padding:0px;
	height:15px;
	width:15px;
	background:none;
	border-radius:50%;
	border:1px solid;
	padding:6px;
	margin-right:2px;
}
header .finder-form.v3 .search_in_text label>input:checked+img {
	background:url(/themes/frontend/images/check-mark.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:15px 15px;
}
header .finder-form.v3 .search_in_text label {
	float:none;
	font-size:16px;
	display:inline;
	margin:0 5px;
	padding:0;
	font-weight:400;
}
header .finder-form.v3 .select2-container .select2-selection__arrow:before {
	padding-top:10px;
}
header ul.dropdown-menu {
	right:0;
	left:inherit;
	cursor:pointer;
}
header .dropdown-menu a {
	padding:8px 16px;
	line-height:18px;
}
header .dropdown-toggle:focus, header .dropdown-toggle:hover {
	text-decoration:none;
}
header .dropdown-menu i {
	width:15px;
	display:inline-block;
	margin-right:9px;
}
header .dropdown-toggle img {
	height:39px;
	vertical-align:middle;
}
header .dropdown-toggle span, header .dropdown-toggle i {
	color:#fff!important;
}
.doctor-list ul li.nearby-v3 {
	width:170px;
}
.doctor-list ul {
	margin-bottom:0;
}
.doctor-list.grey {
	padding-bottom:0;
}
.doctor-list ul li.nearby-v3 .top_dentist_name {
	margin-top:10px;
}
.doctor-list ul li.nearby-v3 div.pic {
transition:all .5s ease-in;
	position:relative;
	overflow:hidden;
	z-index:3;
}
.doctor-list ul li.nearby-v3 div.pic.pic-round {
	height:170px;
	border-radius:50%;
	border:5px solid #fff;
}
.doctor-list ul li.nearby-v3 div.pic img {
	z-index:2;
	position:relative;
}
.doctor-list ul li.nearby-v3 div.info {
	background:rgba(255, 255, 255, .7);
	margin-top:-10px;
	z-index:5;
	border-top:none;
}
.doctor-list ul li.nearby-v3 div.info.info-round {
	height:145px;
	width:145px;
	border-radius:50%;
	left:7px;
	padding-top:20%;
}
.doctor-list ul li.nearby-v3 div.info-mobile {
	background:#19b8d1;
	position:absolute;
	z-index:5;
	height:40px;
	width:40px;
	padding:5px;
	color:#fff;
	border:5px solid #fff;
	border-radius:50%;
	top:130px;
	left:120px;
}
.doctor-list ul li.nearby-v3 div.info .progress-bar-circle {
	margin:0 auto 5px auto;
}
.doctor-list ul li.nearby-v3 div.info .progress-bar-circle div.background, .doctor-list ul li.nearby-v3 div.info .progress-bar-circle div.rotate, .doctor-list ul li.nearby-v3 div.info .progress-bar-circle div.left, .doctor-list ul li.nearby-v3 div.info .progress-bar-circle div.right {
	border:5px solid #19b8d1;
}
.doctor-list ul li.nearby-v3 div.info .progress-bar-circle div.background, .doctor-list ul li.nearby-v3 div.info .progress-bar-circle div.rotate, .doctor-list ul li.nearby-v3 div.info .progress-bar-circle div.left, .doctor-list ul li.nearby-v3 div.info .progress-bar-circle div.right, .doctor-list ul li.nearby-v3 div.info .progress-bar-circle div span {
	background:transparent!important;
}
.doctor-list ul li.nearby-v3 div.info a {
	color:#777;
}
.doctor-list ul li.nearby-v3 div.info .diindex {
	color:#777;
	font-size:12px;
	font-weight:600;
	letter-spacing:inherit;
	padding-top:5px;
}
ul.counter_tab li {
	float:left;
	list-style-type:none;
	padding:4px;
}
ul.counter_tab li a {
	display:inline-block;
	color:white;
	text-align:center;
	padding:7px 6px;
	text-decoration:none;
	font-weight:500;
	transition:0.3s;
	font-size:13px;
	width:100%;
}
ul.counter_tab li a:hover {
	background-color:#ddd;
	color:#000;
}
ul.counter_tab li a:focus, .active {
	color:black;
}
.tabcontent {
	display:none;
	padding:6px 12px;
	border-top:none;
}
.sign_in_btn {
	background:none!important;
	text-transform:capitalize!important;
}
.sign_in_btn:hover {
	background:#11abc3!important;
}
.jy_BtnHover {
	text-transform:capitalize!important;
}
.jy_BtnHover:hover {
	background-color:#46535e!important;
	border:none!important;
	text-transform:capitalize!important;
}
.iconBtn:hover {
	color:#FFF!important;
}
.jv_zoomhover:hover {
	-webkit-transform:scale(1.10);
	-moz-transform:scale(1.10);
	-o-transform:scale(1.10);
	transform:scale(1.10);
	-webkit-transform-origin:top right;
	-moz-transform-origin:top right;
	-o-transform-origin:top right;
	transform-origin:top right;
	box-shadow:0px 0px 3px 1px #46535e;
}
.arrowhover:hover {
	color:#46535e;
}
.nolineAnchor {
	color:#FFF!important;
	text-decoration:none!important;
}
img.btn-pull-left {
	margin-left:1px!important;
}
.google_app {
	background:url(../images/google_play_logo.png) no-repeat;
	height:54px;
	width:150px;
	background-size:150px 40px;
	background-repeat:no-repeat;
	cursor:pointer;
}
.google_app:hover {
	background:url(../images/google_play_logo-hover.png) no-repeat;
	background-size:150px 40px;
	background-repeat:no-repeat;
	cursor:pointer;
}
.iphone_app {
	background:url(../images/apple_store_logo.png) no-repeat;
	height:54px;
	width:150px;
	background-size:150px 40px;
	background-repeat:no-repeat;
	cursor:pointer;
	margin-bottom:-20px;
}
.iphone_app:hover {
	background:url(../images/apple_store_logo-hover.png) no-repeat;
	background-size:150px 40px;
	background-repeat:no-repeat;
	cursor:pointer;
}
.select2-container--default .select2-selection--single {
	background:transparent;
	border:none!important;
	border-radius:3px;
	position:relative;
	background-color:transparent!important;
	height:44px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height:42px!important;
	color:#fff!important;
	padding-left:0px!important;
	padding-right:30px!important;
}
.select2-container--default .select2-dropdown {
	background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
	border:1px solid #c4c4c4;
	box-shadow:0 0 10px -6px;
}
.select2-container--default .select2-results__option:hover {
	background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.select2-container--default .select2-results__option {
	color:#fff;
	cursor:pointer;
	display:block;
	padding:8px;
	width:100%!important;
	font-size:12px;
	line-height:20px;
	list-style:outside none none;
	margin:0;
	min-height:20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b, .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color:transparent!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	-moz-border-right-colors:none;
	-moz-border-top-colors:none;
	border-color:#777 transparent -moz-use-text-color;
	border-image:none;
	border-width:4px 4px medium;
	border-radius:0;
	bottom:0;
	display:block;
	height:auto!important;
	position:absolute;
	right:0!important;
	text-align:center;
	top:0!important;
	width:38px!important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option[aria-selected="true"] {
	background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.select2-container .select2-selection__arrow {
	width:25px;
}
.select2-container .select2-selection__arrow:before {
	font-family:FontAwesome;
	font-weight:normal;
	font-style:normal;
	display:inline-block;
	content:"\f078";
	padding:0 0 0 5px;
	color:#FFF;
	font-size:16px;
}
.select2-container .select2-choice:hover .select2-selection__arrow:before {
	color:#000;
}
.select2-container.select2-container--open .select2-selection__arrow {
	background:none;
	border:none;
}
.select2-container.select2-container--open .select2-selection__arrow:before {
	content:"\f077";
	padding:0 0 0 6px;
}
.select2-container .select2-selection__arrow b {
	background:none;
}
.select2-container.select2-container-disabled .select2-choice:hover .select2-selection__arrow:before, .select2-container.select2-container-disabled .select2-selection__arrow:before {
	color:#888;
}
.ajax_location_indicator {
	background:url('/themes/frontend/images/indicator.gif') no-repeat scroll 98% 50%!important;
}
.page-template-home-test header .finder {
	margin-top:55px;
}
.finder-form.home-test {
	width:48%;
	border-radius:10px;
	margin:0 auto;
	border-bottom:8px solid #555;
}
header .finder-form.home-test input.nj_city {
	width:260px;
	font-size:24px;
}
.finder-form.home-test .search_in_text {
	width:auto;
	position:relative;
	overflow:hidden;
	display:inline-block;
	margin-bottom:10px;
}
#home_find_form .finder-form.home-test .find {
	padding-top:5px;
	padding-bottom:20px;
}
#home_find_form .finder-form.home-test .find button {
	margin-top:20px;
}
#home_find_form .finder-form.home-test .place {
	padding-bottom:0px;
}
.finder-form.home-test .search_type {
	width:auto;
}
.finder-form.home-test .search_type option {
	background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.finder-form.home-test .search_type option:checked, option:hover {
	background:rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
}
.finder-form.home-test .search_type {
	width:240px;
	height:40px;
	position:relative;
	overflow:hidden;
	display:block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	background:transparent;
	color:#FFF;
	font-size:24px;
	padding-left:15px;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid;
	border-radius:0;
	font-weight:400;
}
#search_type2 {
	width:120px;
}
.finder-form.home-test .search_in_text .search_in_label:after {
	color:#FFF;
	content:"\f078";
	font-family:FontAwesome;
	padding:0px;
	position:absolute;
	right:0px;
	top:6px;
	z-index:1;
	text-align:center;
	width:10%;
	height:100%;
	pointer-events:none;
	box-sizing:border-box;
	font-size:16px;
}
.btn.btn-primary-dark {
	background-color:#34495E;
	color:#fff;
	border:2px solid #34495E;
	font-weight:600;
}
.btn.btn-primary-dark:hover {
	background-color:#fff;
	color:#34495E;
	border-color:#34495E;
	border-width:2px;
}
#video_overlays {
	position:absolute;
	float:left;
	width:100%;
	min-height:100%;
	background-color:#000;
	z-index:1;
	opacity:.6;
}
header .finder-form.v3, header .finder.v3 .col-md-12, header .logolinks .col-lg-4, header .logolinks .col-lg-11 {
	z-index:9;
}
.md-phone a {
	padding:5px;
	background-color:#fff;
	border:5px solid #000;
	border-radius:10px;
	color:#000;
	font-size:16px;
	font-weight:bold;
}
.md-phone {
	background:#11abc3;
	border:2px solid #11abc3;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	color:#fff!important;
	float:right;
	letter-spacing:2px;
	margin-left:15px;
	margin-top:10px;
	padding:5px 13px 6px;
	text-transform:uppercase;
	font-weight:500;
}
.md-phone:hover {
	background:#fff none repeat scroll 0 0;
	color:#444!important;
	text-decoration:none;
}
@media screen and (min-width: 1440px) {
}
@media (min-width:1300px) {
.container {
max-width:1275px;
width:auto;
}
}
@media screen and (max-width: 1299px) {
.container {
max-width:1200px;
width:auto;
}
.advantages ul li {
margin-right:3%;
width:31%;
}
}
@media screen and (max-width: 1440px) {
.specialties .nav-tabs>li a {
padding:10px 10px;
font-size:13px;
}
.specialties .tab-pane a span {
font-size:13px;
}
}
@media screen and (max-width: 1354px) {
.specialties .nav-tabs>li a, .specialties .tab-pane a span {
font-size:12px;
}
}
@media screen and (max-width: 1300px) {
header .finder {
margin-top:125px;
}
header .finder h2 {
font-size:3.5em;
}
header .finder-form .insurance {
width:auto;
display:inline-flex;
}
header .finder-form .place {
width:auto;
display:inline-flex;
}
header .finder-form.v3 .place .nj_city {
margin:0 auto;
}
header .finder-form.v3 .place {
display:block;
margin-bottom:10px;
}
}
@media screen and (max-width: 1108px) {
.advantages ul li {
width:100%;
margin-top:15px;
min-height:inherit;
max-width:none;
}
.advantages ul li img {
float:left;
margin:10px;
}
.download-app .image img {
width:100%;
margin:0px;
}
header .finder-form .find {
margin-top:10px;
width:100%;
}
#search_type_text, #search_type {
float:none!important;
}
.search_in_text {
width:100%;
text-align:center;
}
.add-dentist .left-info {
padding:110px 0;
}
.add-dentist .left-info ul li:before {
left:0;
}
.reviews .owl-carousel .item div.review_dentist_link a {
padding:10px 10px;
position:relative;
overflow:hidden;
width:100%;
height:auto;
}
}
@media screen and (max-width: 1024px) {
header {
background-size:cover;
height:auto;
max-height:none;
min-height:auto;
}
header {
height:30%
}
header .finder {
margin-top:57px
}
header .finder .diselect {
width:250px;
float:none;
}
header .finder h2 {
font-size:2.5em;
}
header .finder-form label {
font-size:20px;
}
header .finder-form .place .place-input-home {
float:none;
}
header .finder-form input {
font-size:20px;
float:none;
}
header .finder-form button {
font-size:17px!important;
}
header .finder-form .searchTextBox {
font-size:20px;
}
header .finder-form .find {
width:100%;
margin-top:10px;
}
header .finder.v3 {
margin-top:20px;
}
header .finder h1 {
font-size:3em;
}
.download-app:after, .download-app:before {
height:auto;
}
.download-app:after, .download-app:before, .download-app {
background:none;
}
.download-app {
margin-bottom:0;
margin-top:0;
}
.download-app h3 {
margin-top:0;
}
.advantages ul li {
min-height:300px;
float:none;
}
.download-app .image img {
margin:0;
width:100%
}
.doctor-list ul li {
width:16.6%;
margin-right:2%;
margin-top:20px;
}
.doctor-list ul li div.info {
margin-top:-70px;
}
.doctor-list ul li:last-child {
margin-right:3%;
}
}
@media screen and (max-width: 991px) and (min-width: 769px) {
#home_find_form .col-md-4 {
width:33.33333333%;
float:left;
position:relative;
min-height:1px;
padding-left:10px;
padding-right:10px;
}
}
@media screen and (max-width: 768px) {
.video-container {
display:none;
}
header {
background:url(../assets/img/home-head-bg.jpg) top center no-repeat;
background-size:100%;
}
header {
background-size:cover;
height:auto;
max-height:none;
min-height:auto;
}
header .finder {
margin-top:30px;
}
header .finder h2 {
font-size:2.4em
}
header .finder-form label {
float:none;
}
header .finder-form input, header .finder .diselect {
margin:0 auto;
}
header .finder.v3 {
margin-top:0;
}
header .finder h1 {
font-size:2.2em;
}
header .finder-form.v3 .search_in_text {
margin:5px 0;
}
.text-row1 h3 {
line-height:40px;
}
.text-row1 {
padding-top:25px;
}
.advantages ul li {
margin-bottom:10px;
}
.add-dentist .right-bg {
display:none
}
.doctor-list ul li {
width:21.56%;
}
.add-dentist .left-info {
padding:30px 0;
}
}
@media screen and (max-width: 730px) {
.md-phone {
display:block;
float:none;
margin:25px auto 0;
text-align:center;
width:250px;
}
header .logolinks>div {
width:100%;
text-align:center;
}
header .login-buttons .button {
float:none;
margin:20px auto;
width:250px;
}
header .finder {
margin-top:10px;
}
header .login-buttons .pull-right {
float:none!important;
}
header .finder h2 {
font-size:1.6em
}
header .finder-form .place, header .finder-form .insurance, header .finder-form .find {
width:100%;
}
header .finder-form .insurance, header .finder-form .place {
display:inline-block;
}
header .finder-form .place .place-label-home {
float:none;
margin:10px auto;
display:block;
max-width:80%;
}
.search_in_text {
margin-top:10px;
}
.reviews .owl-carousel .item div.review_dentist_link a {
overflow:none;
word-wrap:break-word;
white-space:normal;
}
header .login-buttons .button.registration {
text-align:center;
}
header .login-buttons .button.sign_in_join {
text-align:center;
margin:20px auto!important;
float:none;
}
}
@media screen and (max-width: 660px) {
.doctor-list ul li.nearby-v3, .doctor-list ul li {
width:44%;
}
.doctor-list ul li.nearby-v3 div.info-mobile {
left:70.5%;
}
.footer-blue ul li {
display:inline-block;
line-height:40px;
}
.footer-blue.first.contact-us ul li {
line-height:40px;
}
}
@media screen and (max-width: 425px) {
header .logolinks>div {
width:100%;
text-align:center;
}
header .login-buttons .button {
float:none;
margin:20px auto;
width:250px;
}
header .finder {
margin-top:10px;
}
header .login-buttons .pull-right {
float:none!important;
}
header .finder h2 {
font-size:1.6em
}
header .finder-form .place, header .finder-form .insurance, header .finder-form .find {
width:100%;
}
.specialties .nav-tabs .show_dentist_tab, .specialties .nav-tabs .show_office_tab, .specialties .nav-tabs>li, .specialties .tab-pane a {
width:100%!important;
}
.advantages ul {
margin:0px;
}
.advantages ul li img {
width:92%;
}
.download-app h3 {
margin-top:10px;
}
.download-app p {
padding:0px;
}
.download-app a {
text-align:center;
display:block;
}
.reviews h2:after, .specialties h2:after {
left:12px;
}
}
@media screen and (max-width: 400px) {
header {
padding-bottom:0;
}
header .finder-form .find {
margin-top:20px;
}
header .finder h1 {
font-size:2.5em;
}
header .finder-form.v3 {
margin-bottom:0;
}
.text-row1 {
padding-top:0;
margin-bottom:0;
}
.doctor-list ul {
margin-bottom:0;
}
.advantages {
margin-top:0;
}
.text-row1 h3 {
line-height:30px;
font-size:1.5em;
}
.specialties h2, .reviews h2, .doctor-list h2, .add-dentist .left-info h2 {
font-size:1.7em;
font-weight:600;
text-align:center;
}
.specialties h2:after, .reviews h2:after, .doctor-list h2:after {
width:90%;
}
.footer-blue.contact-us .col-xs-12 ul li:first-child {
margin:5px;
}
.footer-blue.contact-us .col-xs-12 ul li {
margin:0;
}
.doctor-list ul li.nearby-v3 {
width:170px;
}
.doctor-list ul li.nearby-v3 div.info-mobile {
left:120px;
}
}
.ajax_autosuggest_indicator.home_dentist_search {
	background:url('/themes/frontend/images/indicator.gif') no-repeat scroll 98% 50% transparent!important;
}
.md-hide-button {
	padding:0!important;
	margin:0!important;
}
.login-buttons {
	z-index:10;
}
// Mixin itself @mixin clearfix() {
 &::after {
 display: block;
 content: "";
 clear: both;
}
}
 // Usage as a mixin .element {
 @include clearfix;
}
