@media (min-width: 1200px) and (max-width: 1600px) {
	.order-body {
		padding: 10px 20px;
		height: 80%;
	}

	.track-order-page .track-order-process {
		height: calc(100vh - 66vh);
	}

	.mCustomScrollBox+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
	.mCustomScrollBox+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
		bottom: -50px !important;
	}
	.img-fluid {
		height: 100%;
		margin: 0px 10px 0 10px;
	}

	.track-order-page .map-box {
		height: calc(100vh - 42vh);
	}
	.subtitle-row .subtitle {
		margin-top: 10px
	}

	.order-process-status {
		height: auto;
	}
	.head-sec {
		padding-bottom: 0;
	}
}

 @media (min-width: 1201px) {}

 /*  ------- media query -------  */

 @media (max-width: 1400px) {
     .orders-overview .icon-left {
         display: block;
         margin-bottom: 5px;
     }
 }

 /* --- 1400px end --- */
 @media (max-width: 1300px) {
     .modal-dialog {
         margin-top: 10%;
     }
 }

 @media (max-width: 1199px) {
     .orders-overview .col {
         width: 33%;
         margin-bottom: 15px;
     }


	/* All-order page start */
	table.dataTable thead .sorting::after,
	table.dataTable thead .sorting_asc::after,
	table.dataTable thead .sorting_desc::after,
	table.dataTable thead .sorting_asc_disabled::after,
	table.dataTable thead .sorting_desc_disabled::after {
		position: absolute;
		bottom: 0;
		right: 0px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		opacity: 0.5;
		left: inherit;
		top: 30%;
	}

	.btn-bdr-default {
		padding: 10px;
	}

	.manage-delivery tr {
		padding: 1rem 2rem;
		overflow: hidden;
	}

	.track-order-page .map-box {
		height: calc(100vh - 42vh);
		overflow: hidden;
	}

	.track-order-page .track-order-process {
		height: calc(100vh - 66vh);
	}

	.order-body {
		padding: 5px 20px;
		height: 79%;
	}

	.order-process-status {
		height: auto;
	}

	.orders-overview .col {
		width: 50%;
	}

	.search-toggle {
		display: block;
	}

	.navbar-nav>li {
		float: left;
	}

	.navbar-nav>.notifications-menu>.dropdown-menu {
		position: absolute;
		-webkit-box-shadow: 0 2px 5px 0 rgba(207, 214, 228, 1);
		-moz-box-shadow: 0 2px 5px 0 rgba(207, 214, 228, 1);
		box-shadow: 0 2px 5px 0 rgba(207, 214, 228, 1);
	}

	.navbar-nav .open .dropdown-menu {
		background-color: #fff;
	}

	.navbar-nav {
		margin: 0;
	}

	.page-title {
		font-size: 22px;
	}

	.sidebar-open .main-header .navbar {
		padding-left: 0;
	}

	.sidebar-open .content-wrapper {
		margin-left: 0;
	}

	.sidebar-close {
		display: inline-block;
	}

	.logout-btn {
		position: absolute;
		margin-top: 5px;
		margin-bottom: 15px;
	}

	.search-bar input {
		font-size: 16px;
	}

	.inner-nav {
		right: 0;
	}

	.modal .white-block {
		padding: 25px;
	}

	.ol-popup .modal-header {
		padding: 25px 0 20px;
		margin: 0 25px;
	}

	.ol-popup .modal-body {
		margin: 0 25px;
	}

	.ol-popup .modal-footer {
		margin: 0 25px;
		padding: 15px 0 20px;
	}

	.edit-popup .modal-body {
		padding: 10px 25px;
	}

	.edit-popup .modal-header {
		margin: 0 25px;
	}

	.modal-dialog {
		margin-top: 12%;
	}

	.rdo-right {
		padding-left: 0;
	}

	.rdo-right::before {
		display: none;
	}

	.notifications .notification-time {
		text-align: left;
	}
	/* All-order page start */

   .ikea-pages .order-list thead tr th:first-child,
   .ikea-pages .order-list tr td:first-child,
   .ikea-pages .order-list tr th {
	   padding-left: 12px;
	   padding: 5px 12px 5px 20px !important;
   }

   table.dataTable thead th,
   table.dataTable thead td {
	   padding: 15px 12px;
	   font-family: 'Open Sans';
	   vertical-align: inherit;
   }

   .main-deshboard-box .white-block {
	   padding: 30px 25px;
   }

   .track-order-page .track-order-process {
	   height: calc(100vh - 63vh);
   }

   .track-order-page .map-box {
	   height: calc(100vh - 45vh);
	   overflow: hidden;
   }
   .nav-options {
	   display: block !important;
   }
   .main-header .navbar-custom-menu, .main-header .navbar-right {
		float: right;
		margin-top: 17px;
		padding-right: 28px;
	}
	.main-sidebar.left-side-work .user-profile-box .sidebar-toggle {
		display: none;
	}
	.main-sidebar.left-side-work .user-profile-box .user-img {
		display: block;
		margin: 0;
	}
	.sidebar-open .main-sidebar.left-side-work .user-profile-box .user-img {
		margin-right: 10px;
	}
	/* All-order page end */
}

@media (max-width: 991px) {
	.ikea-pages .search-bar, .ikea-pages .content-wrapper {
		margin-left: 60px;
	}
	body .main-header .navbar {
		width: calc(100%);
	}
	.left-side-work.main-sidebar {
		-webkit-transform: translate(0px, 0);
		transform: translate(0px, 0);
	}
	.sidebar-open .left-side-work.main-sidebar {
		-webkit-transform: translate(0px, 0);
		transform: translate(0px, 0);
	}
	.sidebar-open .search-bar {
		margin-left: 220px;
	}
	.main-header .sidebar-toggle {
		padding: 17px 25px;
	}
}

 /* --- 991px end --- */
 @media (max-width: 767px) {

     .customer-info .cstmr-label,
     .customer-info .value {
         width: 100%;
     }

     .order-page .page-title {
         margin-bottom: 30px;
         padding: 0 15px;
     }

     .step-nav ul {
         top: 0;
     }

     .step-nav li {
         margin-left: 10px;
         margin-right: 10px;
     }

     .step-nav ul li::before {
         left: -21px;
         width: 18px;
         top: 11px;
     }

     .more-info-popup .last-edited {
         float: none;
         position: static;
         margin-top: 25px;
     }

     .more-info-popup .btns-block {
         margin-top: 20px;
     }

     .modal-dialog {
         width: auto;
         margin: 15% 15px 30px;
     }

     .white-block {
         padding: 25px;
     }

     .white-block .step-tabs {
         text-align: center;
     }

     .main-sidebar {
         position: fixed;
         min-height: 0;
         overflow-x: auto;
     }

     .sidebar-menu>li>a {
         padding: 15px 5px 14px 15px;
     }

     .user-text {
         margin-bottom: 15px;
     }

     .sidebar .logo {
         margin: 15px auto 10px;
         width: 86px;
         height: 86px;
     }

     .sidebar .logo img {
         width: 100%;
     }

     .img-box-wrapper .img-box {
         margin-right: 10px;
         margin-bottom: 15px;
     }

     .img-box-wrapper .img-box img {
         max-width: 200px;
         max-height: 200px;
     }

     .img-box-wrapper .img-box {
         margin-right: 15px;
         margin-bottom: 15px;
         width: auto;
     }

     .order-track-img .img-box-wrapper .img-box {
        margin-right: 0px;
        margin-bottom: 0px;
        width: 50%;
    }

    .order-track-img .img-box-wrapper .img-box figure {
        border-radius: 0;
        padding: 15px 15px 15px 0;
    }
    .more-info-popup .modal-header .status {
        position: absolute;
        top: -15px;
        right: 0;
        padding: 2px 10px;
    }
     .more-info-popup .modal-header .status.label-completed {
         position: static;
         padding: 0;
         margin-top: 10px;
         display: inline-block;
     }
     /* Login Page start */

	.login-box {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
		background: url(../images/login-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;

	}

	.login-box .img-side {
		background: none;
	}

	.login-box .content-side {
		padding: 0 15px;
	}

	.login-box .content-side .login-panel {
		background: #fff;
		border-radius: 4px;
		margin-bottom: 20px;
	}

	/* Login Page End */

	/* Order-more-info page start */

	.order-detail .order-page {
		max-width: 720px;
		position: relative;
		margin: 80px 0;
		width: 100%;
		min-width: 100%;
		padding: 0 15px;
	}

	.order-page .navbar-toggle {
		border-color: #999;
		float: left;
		margin-left: 15px;
	}

	.order-page .navbar-toggle .icon-bar {
		background: #999;
	}

	.show-in-xs {
		display: block;
		float: right;
		padding: 15px;
	}

	.order-page .nav.navbar-nav.navbar-right,
	.manager-drive-hdr .nav.navbar-nav.navbar-right {
		display: none;
	}

	.order-page .step-tabs li {
		margin: 0;
	}

	.step-tabs li {
		width: 45%;
		margin: 5px 7px;
		border-bottom: 2px solid #fff;
	}

	.order-track-img .img-box-wrapper {
		margin-top: 10px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}

	.order-track-img .img-box-wrapper .img-box img {
		max-width: 100%;
		max-height: 100%;
		/* height: 160px; */
		border-radius: 0;
	}

	.onthe-way-order-track {
		position: absolute;
		left: 3%;
		bottom: 3%;
		max-width: 94%;
		min-width: auto;
	}

	.flex-columns-sm {
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: normal !important;
		-ms-flex-flow: column wrap !important;
		flex-flow: column wrap !important;
	}

	.value-flex {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		padding: 15px 0;
	}

	/* Order-more-info page End */


	/* create-order page start */

	.content-wrapper .order-page .first,
	.content-wrapper .order-page .second,
	.content-wrapper .order-page .third,
	.content-wrapper .order-page .forth {
		padding: 0 15px;
	}

	.successfull-page .success-btn .btn {
		margin: 15px 15px 0px 15px;
	}

	.order-page {
		margin: 130px auto 100px auto;
	}

	.order-page .navbar-toggle,
	.manager-drive-hdr .navbar-toggle {
		border-color: #999;
		float: left;
		margin-left: 15px;
	}

	.order-page .navbar-toggle .icon-bar,
	.manager-drive-hdr .navbar-toggle .icon-bar {
		background: #999;
	}

	.xs-w-100 {
		width: 100%;
		padding: 0;
	}

	.manager-drive-hdr .step-tabs li,
	.manager-drive-hdr .step-tabs {
		width: 100%;
		margin: 0;
	}

	/* create-order page end */

	.manage-delivery tr {
		padding: 1rem 1.5rem;
	}

	.xs-text-left {
		text-align: left !important
	}

	.track-order-page {
		height: 100%;
		overflow: visible;
	}

	.track-order-page .track-order-process .order-track-header {
		flex-flow: column wrap;
	}

	.order-process-stap {
		position: relative;
		width: 100%;
		flex: 1;
	}

	.track-order-page .track-order-process .order-track-header .step-tabs {
		justify-content: space-between;
	}

	.track-order-page .track-order-process .order-track-header .step-tabs li {
		margin: 0;
		flex: 1;
	}

	.track-order-page .track-order-process .order-track-header {
		flex-flow: wrap row;
	}
	.edit-driver-popup .modal-dialog {
		width: auto;
		max-width: 100%;
		margin: 7vh 15px 50px;
	}
	.left-side-work.main-sidebar {
		overflow-x: initial;
	}
 }

 /* --- 767px end --- */
 @media (max-width: 720px) {}

 @media (max-width: 640px) {
     .ol-popup .modal-header .status {
         position: static;
         display: inline-block;
         margin-top: 15px;
     }

     .ol-popup .btns-block {
         float: right;
     }

     .ol-popup .customer-info {
         min-height: 0;
     }

     .ol-popup .last-edited {
         float: none;
         margin-top: 10px;
         text-align: left;
         margin-bottom: 15px;
     }

     .filter-popup .fltr-midtxt {
         display: block;
         margin-bottom: 10px;
     }

     .step-tabs {
         flex-wrap: wrap;
         justify-content: center;
     }

     .step-tabs li {
         width: 45%;
         margin: 5px 7px;
     }

     .more-info-popup .order-id {
         position: static;
         margin-top: 15px;
         display: block;
     }

     .more-info-popup .order-id {
         position: static;
         margin-top: 15px;
         display: block;
     }
     .login-box .img-side {
		padding: 30px 0;
	}

	.logoes-box {
		width: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: inline-flex;
	}

	.main-header .sidebar-toggle {
		float: left;
		background-color: transparent;
		background-image: none;
		padding: 17px 15px;
		font-family: fontAwesome;
		position: relative;
		right: 15px;
		;
	}

	.logoes-box a:first-child {
		padding-left: 0;
	}

	.language-menu {
		float: left;
		margin-top: 10px;
		margin-right: 30px;
		padding: 5px 30px 5px 0;
	}

	.language-menu .language-box .language-select {
		text-align: left;
	}

	.language-menu .language-box .language-select [type="button"] {
		padding: 0 0 0 5px;
		border: none
	}

	.main-header .navbar-custom-menu,
	.main-header .navbar-right {
		float: right;
		margin-top: 18px;
		padding-right: 15px;
	}

	.search-bar {
		margin-top: 82px;
		padding-left: 50px;
	}
	.search-bar .srch-icon {
		position: absolute;
		left: 20px;
		top: 20px;
	}
	.main-sidebar {
		top: 101px;
	}

	.navbar-nav>.notifications-menu>.dropdown-menu {
		right: 0;
	}

	.navbar-nav>.notifications-menu>.dropdown-menu {
		right: -20px;
		min-width: 300px;
	}

	.order-track-img .img-box-wrapper .img-box img {
		height: 130px;
	}

	.img-box-wrapper .img-box {
		margin-right: 15px;
		margin-bottom: 15px;
		width: auto;
	}

	/* Main deshboard Page start */

	.data-board>ul li ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
		-webkit-box-align: baseline;
		-ms-flex-align: baseline;
		align-items: baseline;
	}

	.data-board>ul li ul li {
		text-align: right;
		margin-bottom: 10px;
	}

	.track-order-page .track-order-process .order-track-header {
		flex-flow: wrap column;
	}

	.track-order-page .track-order-process .order-track-header .step-tabs {
		justify-content: space-between;
		flex-flow: column wrap;
		margin-bottom: 0px;
	}

	.step-tabs li a {
		border-bottom: 0;
	}

	.track-order-page .track-order-process .order-track-header .btn-blue {
		padding: 5px 20px;
		font-size: 14px;
		margin: 15px;
	}

	.order-body {
		padding: 5px 20px;
		height: 79%;
		background: #fff;
	}

 }

 /* --- 640px end --- */
 @media (max-width: 480px) {
     .orders-overview .col {
         width: 100%;
     }

     .step-tabs li {
         width: 100%;
     }

     .login-contact-popup .modal-dialog {
         max-width: 320px;
     }
     .login-contact-popup .modal-body {
        padding: 10px 20px;
    }
    .more-info-popup .btn-blue {
        min-width: 100px;
        letter-spacing: 0.02em;
    }

}

 /* --- 480px end --- */
 @media (max-width: 360px) {}

 /* --- 320px end --- */
 @media (max-width: 991px) {}

	 /* @media (min-width: 320px) and (max-width: 480px) {
	   .btn-popup-left-dv{
	     border:1px solid red;
	     padding:5px 5px;
	     left: 131px!important;
	     top: -49px!important;
	     position: relative;
	   }
	   .left-detail-dv h3 {
	     font-size: 13px!important;
	   }
	   .btn-right-dv{
	     padding:5px 5px;
	     left: 57%!important;
	     top: -32px!important;
	   }
	   .btn-popup-responsive-one{
	     width:100%;
	     margin:5px 0px;
	   }
	   .btn-secand-dv{
	     position: relative;
	     left:-15px;
	   }
	   .secand-respon-one{
	     width:45%;
	     font-size: 15px;

	   }
	   .btn{
	     padding: 6px 9px;
	   }
	   .respon-drop-dv{
	     position: relative;
	     left:-27px;
	   }
	   .cust-btn-respon-dv{
	     position: relative;
	     left:-11px;
	     padding:5px 5px!important;
	   }
	   .cust-one-btn-respon-dv{
	     position: relative;
	     left:-17px!important;
	   }
	   .new-tab-btn-dv{
	     position: relative;
	     left:-20px;
	     padding:6px 6px!important;
	   }
	   .btn-2 {
	     padding:6px 6px!important;
	   }

	 .btns-block .btn + .btn{
	     margin-left:0px;
	     position: relative;
	     left:-0px;
	     margin:0px 6px;
	   }
	   .secan-two-tab-dv{
	     margin-left:0px!important;
	     position: relative;
	     left: 110px !important;top: -37px;
	   }
	   .fore-btn-dv{
	     position: relative;
	     left:-16px;
	   }
		 .btn-driver-respon-dv{
			 position: relative;
			 left:74px;
		 }
		 .driver-btn-dv{
			 margin:5px 0px!important;
			 position: relative;
			 left:0px!important;
		 }
		 .btn-form-dv{
			 margin-top:-110px;
		 }
		 .drop-main-right-dv .form-group{
			 position: relative;
			 width:90%;
			 position:relative;
			 left:-24px;
		 }
		 .list-pegination li a{
			 margin:15px 0px;
			 position: relative;
			 left:53px;
		 }


	 }

	 @media (min-width: 481px) and (max-width: 767px) {
	   .btn-popup-left-dv{
	     border:1px solid red;
	     padding:5px 5px;
	     left: 271px!important;
	     top: -49px!important;
	     position: relative;
	   }
	   .breadcrumbStyle{
	     width:100%;
	     text-align: center;
	   }
	   .left-detail-dv h3 {
	     font-size: 13px!important;
	   }
	   .more-info-popup .btn-blue{
	     min-width:82px!important;
	   }
	   .repon-blog-dv{
	     position: relative;
	     left:-120px;
	   }
	   .btn-right-dv{
	     padding:5px 5px;
	     left: 69%!important;
	     top: -35px!important;
	   }
	   .btn-popup-responsive-one{
	     width:26%!important;
	     -margin:5px 0px;
	   }
	   .respon-tab-dv{
	       width:26%!important;
	       padding:6px!important;
	   }
	   .btn-secand-dv{
	     position: relative;
	     left:0px;
	   }
	   .secand-respon-one{
	     width:45%;
	     font-size: 15px;
	   }
	   .btn{
	     padding: 6px 9px;
	   }
	   .respon-drop-dv{
	     position: relative;
	     left:-27px;
	   }
	   .cust-btn-respon-dv{
	     position: relative;
	     left:-36px;
	     padding:5px 5px!important;
	   }
	   .cust-one-btn-respon-dv{
	     position: relative;
	     left:-27px;
	   }
		 .drop-main-right-dv .form-group{
			 position: relative;
			 width:95%;
			 position:relative;
			 left:-24px;
		 }
		 .btn-driver-respon-dv{
			 position: relative;
			 left: 37%;
		 }
		 .btn-form-dv{
			 margin-top:-120px;
		 }
		 .list-pegination li a{
			 margin:15px 0px;
			 position: relative;
			 left:140px;
		 }


	 } */

	 @media (min-width: 768px) and (max-width: 1024px) {
	   /* .btn-right-dv {
	   	position: relative;
	   	left: 82%!important;
	   	top: -40px!important;
	   }
		 .list-pegination li a{
			 margin:15px 0px;
			 position: relative;
			 left:280px;
		 } */
	 }

	 @media (min-width: 1025px) and (max-width: 1280px) {
		 /* .list-pegination li a{
			 margin:15px 0px;
			 position: relative;
			 left:300px;
		 } */

	 }


	 @media (min-width: 375px) and (max-width: 667px) {
	   /* .main-input-dv{
	     float: none;
	     width:100%;
	   }
	   .blog-lab-dv{
	     margin:20px 0px!important;
	   }
	   .blog-lab-dv label{
	     left:43.5%!important;
	   } */
	   /* .breadcrumbStylediv{
	 	  flex-flow:column wrap;
	 	  display: none;
	   } */
	   /* .breadcrumbStyle{
	 	  width: 100%;
	   }
	   .popup-in-responsive-dv{
	     left: 63%;
	     position: relative;
	     top: -53px!important;
	   } */

	 }
	 @media (max-width: 767px) {
	 	.breadcrumbStylediv{
	 		flex-flow:column wrap;
	 	}
	 	.breadcrumbStyle{
	 		margin-bottom: 15px;
	 	}
	 	.list-pegination{
	 		margin:0 auto;
	 	}
	 	.cardNew{
	 		flex-flow: column;
	 	}
	 	.driverInfo {
	 		flex-flow: column;
	 		padding-left:0px;
	 	}
	 	.userName{
	 		flex-flow: column;
	 		align-items: center;
	 	}
	 	.navbar-static-top{
	 		box-shadow: 0px 2px 0px #00000014;
	 	}
	 	.breadcrumbStylediv.d-flex.justify-content-between{
	 		display: block;
	 	}
	 	/*.main-sidebarMap{
	 		display: flex;
	 		flex-flow: column;
	 	}*/
	 	/*.left-side-work.main-sidebar.main-sidebarMap{
	 		-webkit-transform: translate(-60px, 0);
	 		transform: translate(0px, 0);
	 		width: 100%;
	 		position: static;
	 		min-height: 100%;
	 		-webkit-box-ordinal-group: 2;
	 		-ms-flex-order: 1;order: 1;
	 	}
	 	.cancelButton{
	 		display: none;
	 	}
	 	#dynamic{
	 		display: flex;
	 		flex-flow: column;
	 	}*/
		    .cartitle{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: center!important;
        -ms-flex-pack: center!important;
        justify-content: center!important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
	 }
	 @media (min-width: 768px) and (max-width: 991px) {
	 	.cardNew{
	 		flex-flow: column;
	 	}
	 	.driverInfo {
	 		flex-flow: column;
	 		padding-left:0px;
	 	}
	 	.userName{
	 		flex-flow: column;
	 		align-items: center;
	 	}
	 	.navbar-static-top{
	 		box-shadow: 0px 2px 0px #00000014;
	 	}
	 }
	 @media (min-width: 992px) and (max-width: 1199px) {
	 	.cardNew{
	 		flex-flow: column;
	 	}
	 	.driverInfo {
	 		flex-flow: column;
	 		padding-left:0px;
	 	}
	 	.userName{
	 		flex-flow: column;
	 		align-items: center;
	 	}
	 	.navbar-static-top{
	 		box-shadow: 0px 2px 0px #00000014;
	 	}
	 }




	 /***************** css popup all button start***************/
	 .input-size-dv{
	   padding:30px 18px;
	 }
	 .btn-popup-left-dv{
	   position: relative;
	  right:-503px;
	   top:-53px;
	 }
	 .blog-sec-down-detail-dv{
	   border:1px solid #ddd;
	   height:60px;
	 }


	 .left-detail-dv h3{
	   font-weight: bold;
	   font-size: 16px;
	 }

	 .btn-right-dv{
	   position: relative;
	   right: -167px;
	   top: 6px;
	 }
	 .btn-margin-popup-dv{
	   margin:20px 0px;
	 }
	 .blog-main-input-dvP{
	   padding: 0px;
	 }
	 .right-input-dv{
	   padding:0px;
	 }
	 .left-lable-dv h4{
	   padding:0px;
	   top:11px;
	   position: relative;
	}
	 .drop-main-right-dv{
	   padding:8px;
	   position: relative;
	   left: 35px;
	 }
	 .blog-down-input-sec-dv{
	   padding:0px;
	 }
	 .modal-dialog-remove {
	 	width: 100%;
	 	max-width: 500px;
	 	margin: 5% auto 30px;
	 }
	.remove-driver .modal-dialog{
		 position:relative;
		 top: 30px;
	 }
	 .secand-respon-one{
		 padding: 10px 15px;
	 }
	 .secand-input-section-dv{
		margin-top: 15px;
	 }
	 .blog-main-input-dv{
		 margin-top:14px;
	 }


/***********************all responsive*******************************/

@media (max-width: 575px) {
	.cardNew .card-link li{
		padding: 0 10px 0 0;
	}
	.driver-bread-dv{
		text-align: center;
	}

	.driver-btn-dv{
		position: relative;
		left:0px;
	}
	.respon-tab-dv{
		width:100%;
		left: -1px;
		position: relative;
	}
	.btn-popup-responsive-one{
		width:100%;
		position: relative;
		left:-16px;
		margin:5px 0px;
	}
	.btn-popup-left-dv {
		padding:8px 5px;
		position:absolute;
		right: 22px;
		font-size:13px;
		top: 13px;
		}
	.left-detail-dv h3{
		font-size:12px;
	}
	.btn-right-dv{
		padding: 8px 5px;
		position: absolute;
		top: -32px;
		font-size:13px;
		right: 6px;
		}
	.create-pull-right-btn-dv{
		position: relative;
		left:-10px;
	}
	.create-btn-respon-dv{
		margin-left:0px!important;
	}
	.secan-two-tab-dv{
		margin-left:0px!important;
	}
	.create1-mob-respon-dv{
		position: relative;
		left:-10px;
	}
	.main-input-dv{
		padding:0px;
	}
	.new2-tab-btn-dv{
		position: relative;
		left:-24px;
	}
	.create-mob-respon-dv{
		position: relative;
		left:-10px;
	}
	.login-contact-popup{
		position:absolute;
		top:-150px!important;
	}
	.card-lik-dv{
		display: flex;
		flex-flow: row;justify-content: space-between;
		width:100%;
	}
	.card-link li::after{
		top:0px;

	}
	.alow-btn-dv{
		left: -10px;
		position: relative;
	}
	.cardNew .card-link li::after{
		right:-15px;
	}

	.remove-driver .modal-dialog{
		 position:relative;
		 top: 40px;
	 }
	 .secand-input-section-dv{
 	 margin-top: 30px;
 	}
 	.blog-main-input-dv{
 		margin-top:14px;
 	}
	.sidebar-open .left-side-work.main-sidebarMap {
			width: 285px !important;
	}

}



@media (min-width: 576px) and (max-width: 767px) {
	.breadcrumbStyle{
		text-align: center;
	}
	.login-contact-popup{
		position:absolute;
		top:-120px!important;
	}
	.card-link{
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		width:70%;
		text-align: center;
	}
	.cardNew .card-link li::after{
		right:-39px;
	}
	.btn-driver-respon-dv{
		position: relative;
		left:50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
	}
	.main-input-dv{
		padding:0px;
	}
	.btn-popup-responsive-one{
		width:33%!important;
	}

		.btn-popup-left-dv {
		right: 28px;
		position: absolute;
		font-size:13px;
		top: 10px;
		}
	.btn-right-dv{
		top: -39px;
		position: absolute;
		font-size:13px;
		right:12px;
		}
		.remove-driver .modal-dialog{
			 position:relative;
			 top: 90px;
		 }
		 .secand-input-section-dv{
	 	 margin-top: 35px;
		 margin-bottom:35px;
	 	}
	 	.blog-main-input-dv{
	 		margin-top:14px;
	 	}
		.login-box {
			height:100vh;
			background-position: center;
		}
}

@media (min-width: 768px) and (max-width: 991px) {
	.btn-popup-left-dv {
		left:539px;
	}

	.main-input-dv{
		padding:0px;
	}
	#Assign-add-driver{
		position: absolute;
		top:120px;
	}
	.btn-right-dv{
		position: absolute;
		left: 80.4%!important;
		top: -40px;
	}
	.card-link{
		display: flex;
		flex-flow: row;
		-justify-content: space-between;
		-width:100%;
		text-align: center;
	}
	.card-link li::after{
		top: 0px;
	}
	.remove-driver .modal-dialog{
		 position:relative;
		 top: 130px;
	 }
	 .secand-input-section-dv{
	 margin-top: 35px;
	 margin-bottom:28px;
	}
	.blog-main-input-dv{
		margin-top:14px;
	}
	.login-box {
		height:100vh;
		background-position: center;
	}


}

@media (min-width: 992px) and (max-width: 1199px) {
	.btn-right-dv{
		left: 61% !important;
		top: 7px !important;
	}
	.main-input-dv{
		padding:0px;
	}
	.btn-popup-left-dv {
	right: 30px;
	position: absolute;
	-font-size:13px;
	top: 10px;
	}
	.remove-driver .modal-dialog{
		 position:relative;
		 top: 70px;
	 }
	 .secand-input-section-dv{
	 margin-top: 35px;
	 margin-bottom:30px;
	}
	.blog-main-input-dv{
		margin-top:14px;
	}
}

@media (min-width: 1200px) and (max-width: 1599px) {
	.main-input-dv{
		padding:0px;
	}
	.secand-input-section-dv{
	margin-top: 20px;
	margin-bottom:20px;
 }
 .blog-main-input-dv{
	 margin-top:14px;
 }
}




/********************************************************/



	 @media (min-width: 375px) and (max-width: 667px){

	   .btn-popup-responsive-one{
	     position: relative;
	     width:100%;
	     margin:10px 0px!important;
	     margin-left: 0px!important;
	   }
	   
	 }

/***************************************************************/
