img {
	max-width: 100%;
}

.m-0 {
	margin: 0 !important;
}

.p-0 {
	padding: 0 !important;
}

.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.flex-colum {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}





input[type="text"], input[type="email"] {
    font-size: 1.6rem;
    color: #010100;
    width: 100%;
    line-height: 65px;
}
select {
    width: 100%;
    height: 65px;
    color: #010100;
    padding-left: 3rem;
}
.h1, h1 {
    font-size: 36px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.text-white {
    color: #fff!important;
}
.font-w400 {
    font-weight: 400;
}
.padding-top-xl {
    padding-top: 5rem!important;
}
.padding-bottom-xl {
    padding-bottom: 5rem!important;
}
.margin-top-m {
    margin-top: 3rem!important;
}
.margin-bottom-m {
    margin-bottom: 3rem!important;
}
.section5 h2 {
    line-height: 35px;
}
.section5 p {
    font-size: 16px;
    line-height: 26px;
}


/*
.has-error input[type="text"], .has-error input[type="email"], .has-error select, .has-error .input-group-addon, .has-error .form-control  {
    border: 2px solid #dc3545;
} */
.has-error .input-group-addon, .has-error .form-control {
	border-width: 2px;
}


.has-error .input-group-addon + input {
	border-left: transparent;
}

.has-error .input-group-addon {
	border-right: transparent;
}


.has-error .form-control, .has-error .form-control:focus, .has-error .input-group-addon, .login-box .has-error .form-control, .login-box .has-error .input-group-addon {
	border-color: #dc3545;
}




.align-items-center {
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}

.justify-content-center {
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}

.w-100 {
	width: 100% !important;
}

.justify-space-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.p-0 {
	padding: 0 !important;
}

.w-100 {
	width: 100% !important;
}

button .ripple {
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-animation: ripple 0.6s linear;
	animation: ripple 0.6s linear;
}

@-webkit-keyframes ripple {
	to {
		-webkit-transform: scale(2.5);
		transform: scale(2.5);
		opacity: 0;
	}
}

@keyframes ripple {
	to {
		-webkit-transform: scale(2.5);
		transform: scale(2.5);
		opacity: 0;
	}
}

.language-select {
	/*Demo css do not add to your project*/
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/*--*/
	display: block;
	margin: 10px 0 8px 0;
	padding-bottom: 2px;
	/*  position: relative;*/
	min-width: 180px;
	text-align: center;
}

.language-select *,
.language-select:after,
.language-select:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.language-select [type=button] {
	background: #fff;
	border-color: rgba(0, 0, 0, 0.12);
	border-width: 0 0 1px 0;
	color: rgba(0, 0, 0, 0.73);
	cursor: default;
	display: block;
	line-height: 2;
	padding: 2px 0 1px 16px;
	position: relative;
	text-align: center;
	text-shadow: none;
	width: 100%;
	z-index: 1;
	outline: none;
	overflow: hidden;
	cursor: pointer;
}

.language-select [type="button"]::after {
	content: '\25be';
	float: right;
	padding-right: 16px;
	padding-left: 10px;
}

.language-select ul[role="listbox"] {
	background-color: white;
	cursor: default;
	list-style: none;
	line-height: 26px;
	overflow: hidden;
	margin: 0;
	max-height: 0;
	position: absolute;
	padding: 0;
	-webkit-transform: translate(-25%, -25%);
	transform: translate(-25%, -25%);
	-webkit-transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
	transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
	width: 100%;
	-webkit-box-shadow: 0 2px 18px rgba(0, 0, 0, .16);
	box-shadow: 0 2px 18px rgba(0, 0, 0, .16);
	border-radius: 4px;
}

.language-select ul[role=listbox] li {
	height: 48px;
	margin: 0;
	padding: 10px 0px;
	margin: 0 16px;
	outline: none;
	overflow: hidden;
	cursor: pointer;
}

.language-select ul li#state2_AK {
	border-bottom: 1px solid #ccc !important;
}

/* .language-select ul[role=listbox] li:focus, .language-select ul[role=listbox] li:hover, .language-select ul[role=listbox] li.active {
	background: rgba(0, 0, 0, 0.1);
  } */
.language-select.active ul {
	max-height: 200px;
	overflow: auto;
	padding: 15px 0;
	z-index: 2;
	text-align: left;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.language-select.active ul .h4 {
	padding: 0 15px;
	color: #0058AA;
	margin-top: 0;
	font-weight: 800;
}


.input-group-addon ~ input {
	border-left: 0 !important;
}


.language-select.active ul .h4 svg {

	position: relative;
	right: -30px;
}

.language-select.active ul li {
	position: relative;
}

.language-select.active ul li span {
	font-size: 15px;
	font-weight: 500;
	color: #000;
	padding-left: 10px;
}

.language-select.active ul li span::after {
	content: '';
	height: 14px;
	width: 14px;
	border-radius: 50%;
	border: 1px solid #ccc;
	position: absolute;
	right: 10%;
	top: 18px;
}

.language-select.active ul li.active span::after {
	border: 4px solid #0058AA;
}

.nav.navbar-nav.navbar-right {
	margin-right: 0;
}

.nav.navbar-nav.navbar-right li {

    display: flex;
    flex-flow: column wrap;
    padding: 11px 15px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
div.dataTables_wrapper {
	width: 100%;
	margin: 0 auto;
}
.nav.navbar-nav.navbar-right li a {
	padding: 0;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	padding-top: 8px;
}
/* Login Page Start */

.login-page {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}

.login-box {
	position: relative;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0;
}

.login-box .img-side,
.login-box .content-side {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.panel-heading {
	margin-bottom: 1rem;
}

.h2 {
	margin-bottom: 10px;
	font-size: 42px;
	font-weight: 800;
}

.login-box .content-side .language-box {
	position: absolute;
	top: 20px;
	right: 100px;
}

.login-box .img-side {
	background: url(../images/login-bg.jpg);
	background-position: left;
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	padding: 30px;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.login-box .img-side .h3 {
	font-size: 26px;
	font-weight: 800;
	margin: 10px 0 15px 0px;
}

.login-box .img-side p {
	font-size: 18px;
	font-weight: 500;
	padding: 0;
}

.login-panel {
	width: calc(100%);
	margin: 0 auto;
}

.panel-input-box .custom-input {

	border-radius: 4px;
	min-height: 45px;
	margin-bottom: 1.3rem;
}

.input-group .form-control:not(:first-child):not(:last-child) {
	border-radius: 4px;
}

.login-box .form-control, .login-box .input-group-addon {
	border-color: #ccc;
	border-width: 2px;
}

.login-box .input-group .form-control:not(:first-child):not(:last-child) {

	border-top-left-radius: 0px;
	border-bottom-left-radius: 0;

}

.panel-input-box .custom-input .form-control,
.panel-input-box .custom-input .input-group-addon {
	-webkit-box-shadow: none;
	box-shadow: none;
	min-height: 45px;
	background: transparent;
}

.link-text {
	color: #0058AA;
	text-decoration: none
}

.link-text:hover {
	text-decoration: none;
}

.panel-input-box .form-submit-btn {
	margin-top: 40px;
}

.form-submit-btn {
	min-width: 140px;
	height: 50px;
	border-radius: 4px;
	color: #fff;
	background: #0058AA;
	font-size: 20px;
	font-weight: 700;
	margin: 1.5rem 0;
}

.normal-font {
	font-size: 16px;
}

/* Login Page End */


/* forget password Page start */

.passwrd-done {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.panel-input-box .passwrd-done .form-submit-btn {
	margin-top: 20px;
}

/* forget password Page End */


/* All-order page start */

.table-wrapper {
	background: #fff;
}

/* .order-list thead tr th {
	width: 16% !important;
	background: red;
} */

.language-select label {
	position: relative;
}

.language-select label img {
	position: absolute;
	left: 0px;
	top: 6px;
}

.btn-btn-default,
.btn-btn-rescheduled,
.btn-btn-done,
.btn-btn-onthe-way,
.btn-btn-reported,
.btn-btn-process {
	border-radius: 5px;
	padding: 2px 15px !important;
	color: #fff;
	overflow: hidden;
	position: relative;
}

.btn-btn-default {
	background: #999999 !important;
}

.btn-btn-rescheduled {
	background: #FFC618 !important;
}

.btn-btn-onthe-way {
	background: #58A3EB !important;
}

.btn-btn-reported {
	background: #FA2A43 !important;
}

.btn-btn-done {
	background: #B1D605 !important;
}

.btn-btn-process {
	background: #0058AA !important;
}

button.btn-btn-process:hover {
	background: #0058AA !important;
	color: #fff;
}

.btn.focus,
.btn:focus,
.btn:hover {
	text-decoration: none;
}

.status:hover {
	color: #fff;
}


/* .ikea-pages .btn.focus, .ikea-pages .btn:focus, .ikea-pages .btn:hover {
	color: #fff;
	text-decoration: none;
} */

.table>tbody>tr>td {
	border: none;
}

.bootstrap-datetimepicker-widget table td {
	height: 30px;
	line-height: 30px;
	width: 30px;
}
.bootstrap-datetimepicker-widget table td span, .bootstrap-datetimepicker-widget table td i {
	display: inline-block;
	width: 54px;
	height: 35px;
	line-height: 24px;
	margin: 2px 1.5px;
	cursor: pointer;
	border-radius: .25rem;
}

.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
	width: 50px;
	font-weight: bold;
	font-size: 1.2em;
	margin: 0;
	background: #E7ECF1;
	border-radius: 50%;
	height: 50px;
	line-height: 2.5;
}

.bootstrap-datetimepicker-widget table td span, .bootstrap-datetimepicker-widget table td i {
	display: inline-block;
	width: 54px;
	height: 25px;
	line-height: 24px;
	margin: 2px 1.5px;
	cursor: pointer;
	border-radius: .25rem;
}

.hide-line svg #Line_20 {
	display: none;
}

.ikea-pages .order-list>tbody>tr:nth-child(2n) {
	background-color: #FAFBFC;
}

.ikea-pages .order-list>tbody>tr:nth-of-type(2n+1) {
	background: transparent;
}

.ikea-pages .order-list tbody tr:nth-child(2n+1) td {
	background-color: transparent;
}

.ikea-pages .order-list thead tr th {
	border-bottom: 1px solid #d4d9de;
	padding-bottom: 20px;
}

.ikea-pages .table-wrapper {
	padding: 0;
}

.sidebar-open .ikea-pages .content-wrapper {
	margin-left: 220px;
}

.ikea-pages .order-list thead tr th:first-child,
.ikea-pages .order-list tr td:first-child {
	padding-left: 45px;
}

.ikea-pages .dataTables_length,
.ikea-pages .dataTables_filter {
	display: none;
}

table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after,
table.dataTable thead .sorting_asc_disabled::after,
table.dataTable thead .sorting_desc_disabled::after {
	position: relative;
	bottom: 0;
	right: 0px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	opacity: 0.5;
	left: 15px;
	top: 3px;
}

.add-new-entery button {
	background: #0058AA;
	height: 70px;
	width: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border-radius: 50%;
	overflow: hidden;
	max-height: 80px;
}

.add-new-entery button svg {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}


.add-new-entery button:hover {
	background:#1b71c1 !important;
}

.ikea-pages .search-bar {
	background-color: #E7ECF1;
}

.ikea-pages .search-bar input {
	color: #333;
}

.ikea-pages .search-bar input::-webkit-input-placeholder {
	color: #333 !important;
}

.ikea-pages .search-bar input:-ms-input-placeholder {
	color: #333 !important;
}

.ikea-pages .search-bar input::-ms-input-placeholder {
	color: #333 !important;
}

.ikea-pages .search-bar input::placeholder {
	color: #333 !important;
}

.ikea-pages .search-bar input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #333 !important;
}

.ikea-pages .search-bar input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #333 !important;
}

.sidebar-open .ikea-pages .main-header .navbar {
	padding-left: 0px;
}

.sidebar-menu>li.active {
	background: #FFDA18;
}

.border-top-btm {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.select-optins {
	background: #F6F8FA;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	margin: 0 0 15px 0;
}

.select-optins a {
	padding: 20px 15px;
	height: 100%;
	width: 100%;
}

.select-optins a p {
	margin: 10px 0 5px 0;
	color: #333;
	text-decoration: none;
}

.select-optins a:hover {
	text-decoration: none;
}

.select-optins a:hover p {
	color: #000;
}

.ikea-pages #example_info,
.ikea-pages #example_paginate {
	padding: 15px;
}

.language-menu .language-box {
	position: relative;
}

.language-menu .language-box .language-select [type="button"] {
	background: transparent;
	color: #fff;
	font-weight: 500;
	top: 25%;
	line-height: 1.5;
	border-right: 1px solid #00396E;
}

.language-menu .language-box .language-select {
	position: relative;
	top: 0;
	left: 0;
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
	display: block;
	margin: 0;
	padding-bottom: 2px;
	/* position: relative; */
	min-width: 180px;
	text-align: right;
}

.language-menu .language-box .language-select ul[role="listbox"] {
	-webkit-transform: translate(-0%, -25%);
	transform: translate(0%, -25%);
}

.main-header .sidebar-toggle::before {
	content: "\f0c9";
	font-size: 18px;
	color: #fff;
}

.time-date {
	width: 100%;
	float: right;
	color: #CCCCCC;
	padding: 0;
	font-size: 12px;
	text-align: right;
}

/* All-order page end */



/* All-order page start */

.btn-bdr-default {
	background: transparent;
	border: 1px solid #0058AA;
	padding: 10px 20px;
	border-radius: 4px;
	color: #0058AA;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	font-weight: 700;
}

.btn-bdr-default:hover {
	color: #0058AA;
	background: #edf6ff;
}

.justify-content-end {
	-webkit-box-pack: end !important;
	-ms-flex-pack: end !important;
	justify-content: flex-end !important;
}


.solved-popup .title-text {
	margin-bottom: 15px;
	font-size: 18px;
	color: #0058AA;
}

.solved-popup .modal-body p {
	font-size: 14px;
}

.py-2 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.mb-2 {
	margin-bottom: 1rem !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.pink-fill {
	color: #F20B57 !important;
	border-color: #F20B57 !important;
}

.pink-fill:hover {
	background: #ffe8f0;
}


.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	vertical-align: middle;
}

/* All-order page end */

/* Create Order page Start */

.flex-box-radio {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 8px 15px;
}

.flex-box-radio span {
	float: left;
}

.flex-box-radio.container-radio .checkmark {
	position: relative;
	top: 30%;
}

.flex-box-radio p:first-child {
	width: 20%;
}

.flex-box-radio p:last-child {
	width: 80%;
}

.flex-box-radio p span {
	width: 100%;
}

.flex-box-radio p span {
	color: #333;
	margin-bottom: 5px;
}

.flex-box-radio p {
	color: #999999;
}

.container-radio input:checked~label {
	background: red;
}

.flex-box-radio p {
	margin: 0;
	float: left;
	text-align: left
}

.info-row p {
	padding-top: 5px;
}

.pr-5 {
	padding-right: 4.7rem !important;
}

.pt-2 {
	padding-top: 15px;
}

.p-0 {
	padding: 0px !important;
}

.shadow-nonu {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.btn.focus,
.btn:focus,
.btn:hover {
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.rdo-div label.active {
	border-color: #0058AA;
	background-color: #E4EDF6;
}

.rdo-div label.active p {
	font-weight: 500;
}


/* Create Order page end */


/* Order-more-info page start */

.order-detail,
.order-more-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	margin: 0;
}

.order-detail .order-page {
	max-width: 720px;
	position: relative;
	margin: 80px 0;
	width: 100%;
	min-width: 720px;
}

.maps-in-details {
	width: 100%;
	height: 94vh;
	position: relative;
	top: 6vh;
	overflow: hidden;
}

.maps-in-details .track-maps,
.maps-in-details .track-maps img {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.order-more-info {
	margin-bottom: 30px;
	padding: 0;
}


.order-more-info .order-page {
	margin: 0;
}

.order-more-info .order-page {
	width: 100%;
	max-width: 720px;
}

.order-more-info .navbar {
	position: relative;
	min-height: auto;
	margin-bottom: 0;
	border: 0;
}

.value-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-top: 15px;
}

.white-bg {
	background: #fff;
}

.order-track-img .img-box-wrapper .img-box img {
	max-width: 160px;
	max-height: 160px;
	height: 160px;
	border-radius: 0;
}

.order-track-img .img-box-wrapper .img-box figure {
	border-radius: 0;
}

.img-box-wrapper .img-box {
	margin-bottom: 15px;
}

.lb-next,
.lb-prev {
	display: none !important;
}

.pt-1 {
	padding-top: 5px !important;
}

.pt-3 {
	padding-top: 20px !important;
}

.status-log-process {
	position: relative;
	overflow: hidden;
}

.status-log-process .step-nav {
	position: relative;
	top: 0;
	left: 0;
}

.status-log-process .step-nav ul {
	text-align: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-flow: column-reverse wrap;
	flex-flow: column-reverse wrap;
	counter-reset: my-awesome-counter;
	list-style: none;
	padding-top: 50px;
}

.status-log-process .step-nav ul li {
	margin: 15px !important;
	background: transparent;
	width: 100%;
	padding-left: 70px;
	padding-bottom: 15px;
	height: auto;
	padding-top: 5px;
	text-align: left;
	color: #333;
	font-weight: 500;
	counter-increment: my-awesome-counter;
}


.status-log-process .step-nav ul li::after {
	content: counter(my-awesome-counter);
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	position: absolute;
	top: 5px;
	left: 17px;
	background: #999999;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	height: 28px;
	width: 28px;
	text-align: center;
	line-height: 27px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	z-index: 244;
}


#menu2 .order-page .white-block {
	padding: 25px;
	margin-bottom: 0;
}

/* .status-log-process .step-nav ul li::before {
	background: url('../images/border-line.svg') repeat-y 0 0;
	position: absolute;
	content: '';
	width: 2px;
	height: 180%;
	left: 30px;
	top: -130px;
	z-index: -0;
} */

.status-log-process .step-nav ul::before {
	background: url('../images/border-line.svg') repeat-y 0 0;
	position: absolute;
	content: '';
	width: 2px;
	height: 100%;
	left: 45px;
	top: 0px;
	z-index: -0;
}

.status-log-process .step-nav ul::after {
	background: #ecf1f7;
	position: absolute;
	content: '';
	width: 2px;
	height: 95px;
	left: 45px;
	border: 0;
	z-index: 1;
	/* background: red; */
	bottom: 0;
}

.status-log-process .step-nav ul li:first-child:after {
	display: block;
}

.step-details {
	padding: 10px 0;
	font-size: 14px;
}

.show-in-xs {
	display: none;
}

.order-status-list {
	list-style-type: none;
	margin: 40px 0 30px 0;
}

.order-status-list li {
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 5px;
	border-bottom: 1px solid #CCCCCC;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.order-status-list li:last-child {
	border: none;
}

.order-status-list li p:last-child {
	text-align: right;
}

.text-dark {
	color: #000 !important;
}

.flex-1 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.in-status-heding {
	font-weight: 800;
	color: #999;
	font-size: 24px;
	margin: 15px 0
}

.justify-content-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.onthe-way-order-track {
	position: absolute;
	left: 3%;
	bottom: 3%;
	max-width: 720px;
	min-width: 710px;
}


/* Order-more-info page End */



/* Main deshboard Page start */


.sidebar-open .ikea-pages .main-deshboard-box {
	margin-bottom: 100px;
}

.heading .h2 {
	font-size: 28px;
	font-weight: 800;
	color: #333333;
	padding: 15px 0;
}

.heading .h2 span {
	font-weight: 300;
}

.main-box-data {
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.06);
	margin-bottom: 15px;
	position: relative;
}

.main-box-data .subtitle-row .subtitle {
	color: #0058AA;
}

.main-box-data .subtitle-row .subtitle i {
	padding-top: 2px;
	float: left;
	padding-right: 15px;
}

.data-board .cstmr-label {
	color: #999;
	float: left;
	font-size: 14px;
	width: 100%;
}

.data-board>ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #FAFBFC;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	padding: 0px;
	list-style-type: none;
}

.data-board>ul li,
.data-board>ul li ul li {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.data-board>ul>li {
	padding: 0px 30px;
}

.data-board>ul li ul {
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 5px;
	border-bottom: 1px solid #ccc;
}

.data-board>ul li ul li {
	text-align: right;
}

.data-board>ul li ul li:first-child {
	text-align: left;
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.data-board>ul li ul li p {
	color: #333333;
	margin: 0;
}

.text-blue {
	color: #0058AA !important;
}

.body-font {
	color: #999999;
	font-size: 14px;
}

.data-board>ul li:last-child ul {
	border: none;
}

.main-deshboard-box .white-block {
	padding: 30px 33px;
}

.bg-light-red {
	background: #FFF4F5 !important;
}

.main-deshboard-box .white-block {
	min-height: 260px;
}

/* Main deshboard Page end */


/* Manage Drive and truck page Start */

.manage-drivr-truck-details {
	margin-top: 80px;
}

.transer-data {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	position: relative;
}

.transer-data .card-heading,
.transer-data .card-body,
.transer-data .card-footer {
	width: 100%;
}

.card-heading a {
	font-weight: 600;
	font-size: 12px;
	padding-top: 3px;
}

.divider-y {
	position: relative;
	background: #ccc;
	width: 1px;
}

.manage-drivr-truck-details .main-box-data {
	margin-bottom: 30px;
}

.text-red {
	color: #FA2A43;
}

.card-heading {
	border-bottom: 1px solid #ccc;
}

.pos-absolute {
	position: absolute;
}

.pos-relative {
	position: relative;
}

.right-side-0 {
	right: 0;
}

.input-div .pos-relative {
	position: relative !important;
	top: 0px;
	padding: 2px;
	right: 0;
}
.input-div .pos-relative svg {
	width: 20px;
	height: 17px;
}




/* Manage Drive and truck page end */


/* manage-delivery Page start */

.manage-delivery {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.list-number .number-box,
.list-number {
	height: 25px;
	width: 25px;
	text-align: center;
	display: block;
	font-weight: 14px;
	border-radius: 50%;
	border: 1px solid #ccc;
}

.card-footer {
	border-top: 1px solid #ccc;
}

.manage-delivery tr {
	padding: 1rem 2.5rem;
	overflow: hidden;
}

.manage-delivery tr:nth-child(2n) {
	background: #FAFBFC;
}

.manage-delivery td,
.manage-delivery th {
	padding: 0;
	-webkit-box-flex: 1.2;
	-ms-flex: 1.2;
	flex: 1.2;
	position: relative;
}

.manage-delivery table tbody tr td:nth-child(2n) {
	-webkit-box-flex: 5;
	-ms-flex: 5;
	flex: 5;
}

.manage-delivery table tbody tr td:nth-child(3n) {
	-webkit-box-flex: 3;
	-ms-flex: 3;
	flex: 3;
	text-align: right;
}

.border-one {
	border: 1px solid #CCCCCC;
}

.min-height-65 {
	min-height: 65px;
}

.border-bottom-one {
	border-bottom: 1px solid #CCCCCC;
}

.text-gray {
	color: #999999 !important;
}


.select-switch-truck label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 5px;
}


.opacty-0 {
	opacity: 0 !important;
}

.select-switch-truck .flex-box-radio p:last-child {
	width: 100%;
}

.text-center {
	text-align: center !important;
}

.radio-inline.flex-box-radio.active {
	background: #E4EDF6;
	border-color: #0058AA;
}

.LeftFloat {
	float: left
}

.RightFloat {
	float: right
}

.FieldContainer {}

.OrderingField {
	margin: 3px;
	background: #fff;
}

.OrderingField div.Commands {
	width: 40px;
}

.OrderingField button {
	width: 40px;
}

.sortboard .list-number,
.sorting-arrow {
	position: absolute;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: translate(-100%, 10%);
	transform: translate(-100%, 10%);
	top: 0;
}

.sorting-arrow {
	top: -15px;
}

.sortboard .sorting-arrow {
	position: relative;
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	top: 0;
	-webkit-transform: translate(0%, 10%);
	transform: translate(0%, 10%);
}

.sortboard>tr>td .sorting-arrow button {
	background: #CCCCCC;
}

.sorting-arrow button {
	background: #0058AA;
	height: 20px;
	width: 20px;
	line-height: 0;
	padding: 0;
	margin: 3px 0;
	border-radius: 50%;
}

.sorting-arrow button svg {
	height: 15px;
	width: 10px;
	padding-bottom: 2px;
}

.sorting-arrow button:last-child svg {
	padding: 0;
}

.sortboard tr:first-child td .sorting-arrow button:first-child {
	background: #CCCCCC;
}

.sortboard tr:last-child td .sorting-arrow button:last-child {
	background: #CCCCCC;
}

.sorting-arrow .LeftFloat {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}


/* manage-delivery Page End */



/* Track Order Page start */

.track-order-page {
	position: relative;
	padding: 0;
	margin: 0;
	/* display: -webkit-box; */
	/* display: -ms-flexbox; */
	/* display: flex; */
	/* -webkit-box-orient: vertical; */
	/* -webkit-box-direction: normal; */
	/* height: calc(100vh - 60px); */
	/*height: calc(100vh - 60px);*/
	overflow: hidden;
}

.track-order-page .map-box {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: calc(100vh - 40vh);
	overflow: hidden;
}

.track-order-page .map-box img {
	max-width: 100%;
}

.track-order-page .track-order-process {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: calc(100vh - 60vh);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
	background: #fff;
}

.track-order-page .track-order-process .order-track-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	position: relative;
	background: #E7ECF1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 55px;
}

.track-order-process .order-body .tab-content .tab-pane,
.track-order-process .order-body .tab-content,
.track-order-process .order-body .tab-content .slick-wrap {
	height: 100%;
}

.track-order-page .track-order-process .order-track-header .step-tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	list-style-type: none;
}

.order-body {
	padding: 20px;
	height: 85%;
}

.track-order-page .track-order-process .order-track-header .step-tabs li {
	margin: 0;
}

.slick-wrap {
	overflow-x: scroll;
}

.mcs-horizontal {
	width: 1800px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	height: 95%;
	;
}

.mcs-horizontal .element-item {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.track-order-page .track-order-process .order-track-header .step-tabs li.active {
	border: none;
	color: #000;
	background: #fff;
}

.track-order-page .track-order-process .order-track-header .step-tabs li a {
	padding: 15px 40px;
}

.track-order-page .track-order-process .order-track-header .btn-blue {
	padding: 5px 20px;
	font-size: 14px;
	margin-right: 15px;
}

.track-order-page .track-order-process .order-process-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: row;
	-ms-flex: row;
	flex: row;
	min-height: 80%;
}

.track-order-page .track-order-process .order-process-body .box-fix-scroll {
	position: relative;
	width: 100%;
}

.track-order-page .track-order-process .order-process-body .order-process-status {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	background: #FAFBFC;
	border-radius: 4px;
	padding: 15px;
}

.order-done {
	height: 25px;
	width: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 50%;
	background: #B1D605;
	margin-right: 10px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.order-process-status {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	background: #FAFBFC;
	border-radius: 4px;
	padding: 15px;

}

.order-body {
	padding: 20px;
}

.img-fluid {
	height: 100%;
	margin: 10px 10px 0 10px;
}

.mCustomScrollBox+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	bottom: -20px !important;
}

.head-sec {
	padding-bottom: 15px;
}

.color-yellow {
	background: #FFC618;
}

.manage-delivery .track-deliver-manage td,
.manage-delivery .track-deliver-manage th {
	padding: 0;
	-webkit-box-flex: 10;
	-ms-flex: 10;
	flex: 10;
	position: relative;
}

.manage-delivery .track-deliver-manage td:last-child,
.manage-delivery .track-deliver-manage th:last-child {
	padding: 0;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}

.manage-delivery .track-deliver-manage .sorting-arrow .LeftFloat {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}


/* Track Order Page End */







/* RESPONSIVE MEDIA START */

@media (min-width: 1200px) and (max-width: 1600px) {
	.order-body {
		padding: 10px 20px;
		height: 80%;
	}

	.track-order-page .track-order-process {
		height: calc(100vh - 66vh);
	}

	.mCustomScrollBox+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
	.mCustomScrollBox+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
		bottom: -50px !important;
	}

	.img-fluid {
		height: 100%;
		margin: 0px 10px 0 10px;
	}

	.track-order-page .map-box {
		height: calc(100vh - 42vh);
	}

	.order-process-status {
		height: auto;
	}
}


@media (max-width: 1199px) {


	/* All-order page start */
	table.dataTable thead .sorting::after,
	table.dataTable thead .sorting_asc::after,
	table.dataTable thead .sorting_desc::after,
	table.dataTable thead .sorting_asc_disabled::after,
	table.dataTable thead .sorting_desc_disabled::after {
		position: absolute;
		bottom: 0;
		right: 0px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		opacity: 0.5;
		left: inherit;
		top: 30%;
	}

	.btn-bdr-default {
		padding: 10px;
	}

	.manage-delivery tr {
		padding: 1rem 2rem;
		overflow: hidden;
	}

	.track-order-page .map-box {
		height: calc(100vh - 42vh);
		overflow: hidden;
	}

	.track-order-page .track-order-process {
		height: calc(100vh - 66vh);
	}

	.order-body {
		padding: 5px 20px;
		height: 79%;
	}

	.order-process-status {
		height: auto;
	}

	/* All-order page end */

}


@media (max-width: 991px) {

	/* All-order page start */

	.ikea-pages .order-list thead tr th:first-child,
	.ikea-pages .order-list tr td:first-child,
	.ikea-pages .order-list tr th {
		padding-left: 12px;
		padding: 5px 12px 5px 20px !important;
	}

	table.dataTable thead th,
	table.dataTable thead td {
		padding: 15px 12px;
		font-family: 'Open Sans';
		vertical-align: inherit;
	}

	.main-deshboard-box .white-block {
		padding: 30px 25px;
	}

	.track-order-page .track-order-process {
		height: calc(100vh - 63vh);
	}

	.track-order-page .map-box {
		height: calc(100vh - 45vh);
		overflow: hidden;
	}

	/* All-order page end */

}


@media (max-width: 767px) {
	/* Login Page start */

	.login-box {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
		background: url(../images/login-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.login-box .img-side {
		background: none;
	}

	.login-box .content-side {
		padding: 0 15px;
	}

	.login-box .content-side .login-panel {
		background: #fff;
		border-radius: 4px;
		margin-bottom: 20px;
	}

	/* Login Page End */

	/* Order-more-info page start */

	.order-detail .order-page {
		max-width: 720px;
		position: relative;
		margin: 80px 0;
		width: 100%;
		min-width: 100%;
		padding: 0 15px;
	}

	.order-page .navbar-toggle {
		border-color: #999;
		float: left;
		margin-left: 15px;
	}

	.order-page .navbar-toggle .icon-bar {
		background: #999;
	}

	.show-in-xs {
		display: block;
		float: right;
		padding: 15px;
	}

	.order-page .nav.navbar-nav.navbar-right,
	.manager-drive-hdr .nav.navbar-nav.navbar-right {
		display: none;
	}

	.order-page .step-tabs li {
		margin: 0;
	}

	.step-tabs li {
		width: 45%;
		margin: 5px 7px;
		border-bottom: 2px solid #fff;
	}

	.order-track-img .img-box-wrapper {
		margin-top: 10px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}

	.order-track-img .img-box-wrapper .img-box img {
		max-width: 100%;
		max-height: 100%;
		/* height: 160px; */
		border-radius: 0;
	}

	.onthe-way-order-track {
		position: absolute;
		left: 3%;
		bottom: 3%;
		max-width: 94%;
		min-width: auto;
	}

	.flex-columns-sm {
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: normal !important;
		-ms-flex-flow: column wrap !important;
		flex-flow: column wrap !important;
	}

	.value-flex {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		padding: 15px 0;
	}

	/* Order-more-info page End */


	/* create-order page start */

	.content-wrapper .order-page .first,
	.content-wrapper .order-page .second,
	.content-wrapper .order-page .third,
	.content-wrapper .order-page .forth {
		padding: 0 15px;
	}

	.successfull-page .success-btn .btn {
		margin: 15px 15px 0px 15px;
	}

	.order-page {
		margin: 130px auto 100px auto;
	}

	.order-page .navbar-toggle,
	.manager-drive-hdr .navbar-toggle {
		border-color: #999;
		float: left;
		margin-left: 15px;
	}

	.order-page .navbar-toggle .icon-bar,
	.manager-drive-hdr .navbar-toggle .icon-bar {
		background: #999;
	}

	.xs-w-100 {
		width: 100%;
		padding: 0;
	}

	.manager-drive-hdr .step-tabs li,
	.manager-drive-hdr .step-tabs {
		width: 100%;
		margin: 0;
	}

	/* create-order page end */

	.manage-delivery tr {
		padding: 1rem 1.5rem;
	}

	.xs-text-left {
		text-align: left !important
	}

	.track-order-page {
		height: 100%;
		overflow: visible;
	}

	.track-order-page .track-order-process .order-track-header {
		flex-flow: column wrap;
	}

	.order-process-stap {
		position: relative;
		width: 100%;
		flex: 1;
	}

	.track-order-page .track-order-process .order-track-header .step-tabs {
		justify-content: space-between;
	}

	.track-order-page .track-order-process .order-track-header .step-tabs li {
		margin: 0;
		flex: 1;
	}

	.track-order-page .track-order-process .order-track-header {
		flex-flow: wrap row;
	}
}

@media (max-width: 575px) {
	.login-box .img-side {
		padding: 30px 0;
	}

	.logoes-box {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.main-header .sidebar-toggle {
		float: left;
		background-color: transparent;
		background-image: none;
		padding: 17px 15px;
		font-family: fontAwesome;
		position: absolute;
		right: 15px;
		;
	}

	.logoes-box a:first-child {
		padding-left: 0;
	}

	.language-menu {
		float: left;
		margin-top: 10px;
		margin-right: 30px;
		padding: 5px 30px 5px 0;
	}

	.language-menu .language-box .language-select {
		text-align: left;
	}

	.language-menu .language-box .language-select [type="button"] {
		padding: 0 0 0 5px;
		border: none
	}

	.main-header .navbar-custom-menu,
	.main-header .navbar-right {
		float: right;
		margin-top: 18px;
		padding-right: 15px;
	}

	.search-bar {
		margin-top: 100px;
	}

	.main-sidebar {
		top: 101px;
	}

	.navbar-nav>.notifications-menu>.dropdown-menu {
		right: 0;
	}

	.navbar-nav>.notifications-menu>.dropdown-menu {
		right: -20px;
		min-width: 300px;
	}

	.order-track-img .img-box-wrapper .img-box img {
		height: 130px;
	}

	.img-box-wrapper .img-box {
		margin-right: 15px;
		margin-bottom: 15px;
		width: auto;
	}

	/* Main deshboard Page start */

	.data-board>ul li ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
		-webkit-box-align: baseline;
		-ms-flex-align: baseline;
		align-items: baseline;
	}

	.data-board>ul li ul li {
		text-align: right;
		margin-bottom: 10px;
	}

	.track-order-page .track-order-process .order-track-header {
		flex-flow: wrap column;
	}

	.track-order-page .track-order-process .order-track-header .step-tabs {
		justify-content: space-between;
		flex-flow: column wrap;
		margin-bottom: 0px;
	}

	.step-tabs li a {
		border-bottom: 0;
	}

	.track-order-page .track-order-process .order-track-header .btn-blue {
		padding: 5px 20px;
		font-size: 14px;
		margin: 15px;
	}

	.order-body {
		padding: 5px 20px;
		height: 79%;
		background: #fff;
	}

	/* Main deshboard Page end */

}

/* RESPONSIVE MEDIA END */
