@font-face {
    font-family: 'Proxima Nova bold';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova black';
    src: url('../fonts/ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/ProximaNova-Black.woff') format('woff'),
        url('../fonts/ProximaNova-Black.ttf') format('truetype'),
        url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	color: #333;
	font-size: 16px;
	background: #E7ECF1;
	padding: 0;
	font-family: 'Proxima Nova Rg';
	font-weight: 400;
}

html,
body {
	height: 100%;
}

button:focus,
a:focus {
	outline: none !important;
}
a,
i,
button {
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

button {
	border: none;
	outline: none;
}

hr {
	border-color: #ccc !important;
}

ul,
li {
	padding: 0;
	margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0 0 15px 0;
	line-height: 1.1;
	font-weight: normal;
}

.m-0 {
	margin: 0 !important;
}

.mt-0,
.my-0 {
	margin-top: 0 !important;
}

.mr-0,
.mx-0 {
	margin-right: 0 !important;
}

.mb-0,
.my-0 {
	margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
	margin-left: 0 !important;
}

.m-1 {
	margin: 0.25rem !important;
}

.mt-1,
.my-1 {
	margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
	margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
	margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
	margin-left: 0.25rem !important;
}

.m-2 {
	margin: 0.5rem !important;
}

.mt-2,
.my-2 {
	margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
	margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
	margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
	margin-left: 0.5rem !important;
}

.m-3 {
	margin: 1rem !important;
}

.mt-3,
.my-3 {
	margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
	margin-right: 1rem !important;
}

.mb-3,
.my-3 {
	margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
	margin-left: 1rem !important;
}

.m-4 {
	margin: 1.5rem !important;
}

.mt-4,
.my-4 {
	margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
	margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
	margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
	margin-left: 1.5rem !important;
}

.m-5 {
	margin: 3rem !important;
}

.mt-5,
.my-5 {
	margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
	margin-right: 3rem !important;
}

.mb-5,
.my-5 {
	margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
	margin-left: 3rem !important;
}

.p-0 {
	padding: 0 !important;
}

.pt-0,
.py-0 {
	padding-top: 0 !important;
}

.pr-0,
.px-0 {
	padding-right: 0 !important;
}

.pb-0,
.py-0 {
	padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
	padding-left: 0 !important;
}

.p-1 {
	padding: 0.25rem !important;
}

.pt-1,
.py-1 {
	padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
	padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
	padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
	padding-left: 0.25rem !important;
}

.p-2 {
	padding: 0.5rem !important;
}

.pt-2,
.py-2 {
	padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
	padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
	padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
	padding-left: 0.5rem !important;
}

.p-3 {
	padding: 1rem !important;
}

.pt-3,
.py-3 {
	padding-top: 1rem !important;
}

.pr-3,
.px-3 {
	padding-right: 1rem !important;
}

.pb-3,
.py-3 {
	padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
	padding-left: 1rem !important;
}

.p-4 {
	padding: 1.5rem !important;
}

.pt-4,
.py-4 {
	padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
	padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
	padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
	padding-left: 1.5rem !important;
}

.p-5 {
	padding: 3rem !important;
}

.pt-5,
.py-5 {
	padding-top: 3rem !important;
}

.pr-5,
.px-5 {
	padding-right: 3rem !important;
}

.pb-5,
.py-5 {
	padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
	padding-left: 3rem !important;
}

.m-n1 {
	margin: -0.25rem !important;
}

.mt-n1,
.my-n1 {
	margin-top: -0.25rem !important;
}

.mr-n1,
.mx-n1 {
	margin-right: -0.25rem !important;
}

.mb-n1,
.my-n1 {
	margin-bottom: -0.25rem !important;
}

.ml-n1,
.mx-n1 {
	margin-left: -0.25rem !important;
}

.m-n2 {
	margin: -0.5rem !important;
}

.mt-n2,
.my-n2 {
	margin-top: -0.5rem !important;
}

.mr-n2,
.mx-n2 {
	margin-right: -0.5rem !important;
}

.mb-n2,
.my-n2 {
	margin-bottom: -0.5rem !important;
}

.ml-n2,
.mx-n2 {
	margin-left: -0.5rem !important;
}

.m-n3 {
	margin: -1rem !important;
}

.mt-n3,
.my-n3 {
	margin-top: -1rem !important;
}

.mr-n3,
.mx-n3 {
	margin-right: -1rem !important;
}

.mb-n3,
.my-n3 {
	margin-bottom: -1rem !important;
}

.ml-n3,
.mx-n3 {
	margin-left: -1rem !important;
}

.m-n4 {
	margin: -1.5rem !important;
}

.mt-n4,
.my-n4 {
	margin-top: -1.5rem !important;
}

.mr-n4,
.mx-n4 {
	margin-right: -1.5rem !important;
}

.mb-n4,
.my-n4 {
	margin-bottom: -1.5rem !important;
}

.ml-n4,
.mx-n4 {
	margin-left: -1.5rem !important;
}

.m-n5 {
	margin: -3rem !important;
}

.mt-n5,
.my-n5 {
	margin-top: -3rem !important;
}

.mr-n5,
.mx-n5 {
	margin-right: -3rem !important;
}

.mb-n5,
.my-n5 {
	margin-bottom: -3rem !important;
}

.ml-n5,
.mx-n5 {
	margin-left: -3rem !important;
}

.m-auto {
	margin: auto !important;
}

.mt-auto,
.my-auto {
	margin-top: auto !important;
}

.mr-auto,
.mx-auto {
	margin-right: auto !important;
}

.mb-auto,
.my-auto {
	margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
	margin-left: auto !important;
}

.btn {
	max-height: 45px;
}

.align-items-center {
	-ms-flex-align: center !important;
	-webkit-box-align: center !important;
	        align-items: center !important;
}

.justify-content-around {
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.di_btn {
	display: inline-block;
	border-radius: 5px;
	outline: 0;
	padding: 14px 15px;
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
}
.di_btn:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.di_btn.lt_blue {
	background-color: #11abc3;
}

.di_btn.lt_blue:hover {
	background-color: #13b8d2;
}

.di_btn.drk_blue {
	background-color: #34495e;
}

.di_btn.drk_blue:hover {
	background-color: #3d5974;
}

.bgcover {
	background-size: cover !important;
	background-position: center center !important;
}

.rounded_btn {
	border-radius: 70px;
}

.rounded_full {
	border-radius: 50%;
}

.vertical_center {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.scrollToTop {
	width: 40px;
	height: 40px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	position: fixed;
	bottom: 35px;
	right: 35px;
	display: none;
	background-color: rgba(25, 72, 94, 0.15);
	z-index: 10000;
}

.scrollToTop:hover,
.scrollToTop:focus,
.scrollToTop:active {
	text-decoration: none;
	background-color: rgba(25, 72, 94, 0.7);
}

img {
	max-width: 100%;
}

.m-0 {
	margin: 0 !important;
}

.p-0 {
	padding: 0 !important;
}

.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.flex-colum {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}

.sidenav-toggler-inner {
	position: relative;
	width: 18px;
	-webkit-transition: all .15s ease;
	transition: all .15s ease;
	right: 0;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.sidenav-toggler-line {
	position: relative;
	display: block;
	height: 2px;
	background-color: #172b4d;
}

.logoes-box .navbar-brand {
	float: left;
	height: auto;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
}

.sidebar-toggle:before {
	display: none;
}

.main-header .nav-options  .sidebar-toggle {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.sidebar-open .sidenav-toggler-line:first-child, .sidebar-open .sidenav-toggler-line:last-child {
	width: 13px;
	-webkit-transform: translateX(0px);
	        transform: translateX(0px);
}
.sidenav-toggler-line:not(:last-child) {
	margin-bottom: 3px;
}

input[type="text"], input[type="email"], input[type="password"] {
    font-size: 1.6rem;
    color: #010100;
    width: 100%;
    line-height: 65px;
}
select {
    width: 100%;
    height: 65px;
    color: #010100;
    padding-left: 3rem;
}
.h1, h1 {
    font-size: 36px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.text-white {
    color: #fff!important;
}
.font-w400 {
    font-weight: 400;
}
.padding-top-xl {
    padding-top: 5rem!important;
}
.padding-bottom-xl {
    padding-bottom: 5rem!important;
}
.margin-top-m {
    margin-top: 3rem!important;
}
.margin-bottom-m {
    margin-bottom: 3rem!important;
}
.section5 h2 {
    line-height: 35px;
}
.section5 p {
    font-size: 16px;
    line-height: 26px;
}


/*
.has-error input[type="text"], .has-error input[type="email"], .has-error select, .has-error .input-group-addon, .has-error .form-control  {
    border: 2px solid #dc3545;
} */
.has-error .input-group-addon, .has-error .form-control {
	border-width: 2px;
}


.has-error .input-group-addon + input {
	border-left: transparent;
}

.has-error .input-group-addon {
	border-right: transparent;
}


.has-error .form-control, .has-error .form-control:focus, .has-error .input-group-addon, .login-box .has-error .form-control, .login-box .has-error .input-group-addon {
	border-color: #dc3545;
}
.align-items-center {
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}

.justify-content-center {
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}
.justify-space-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.p-0 {
	padding: 0 !important;
}

.w-100 {
	width: 100% !important;
}

button .ripple {
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-animation: ripple 0.6s linear;
	animation: ripple 0.6s linear;
}

@-webkit-keyframes ripple {
	to {
		-webkit-transform: scale(2.5);
		transform: scale(2.5);
		opacity: 0;
	}
}

@keyframes ripple {
	to {
		-webkit-transform: scale(2.5);
		transform: scale(2.5);
		opacity: 0;
	}
}

.language-select {
	/*Demo css do not add to your project*/
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/*--*/
	display: block;
	margin: 10px 0 8px 0;
	padding-bottom: 2px;
	/*  position: relative;*/
	min-width: 180px;
	text-align: center;
}

.language-select *,
.language-select:after,
.language-select:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.language-select [type=button] {
	background: #fff;
	border-color: rgba(0, 0, 0, 0.12);
	border-width: 0 0 1px 0;
	color: rgba(0, 0, 0, 0.73);
	cursor: default;
	display: block;
	line-height: 2;
	padding: 2px 0 1px 16px;
	position: relative;
	text-align: center;
	text-shadow: none;
	width: 100%;
	z-index:1;
	outline: none;
	overflow: hidden;
	cursor: pointer;
}

.language-select [type="button"]::after {
	content: '\25be';
	float: right;
	padding-right: 16px;
	padding-left: 10px;
}

.language-select ul[role="listbox"] {
	background-color: white;
	cursor: default;
	list-style: none;
	line-height: 26px;
	overflow: hidden;
	margin: 0;
	max-height: 0;
	position: absolute;
	padding: 0;
	-webkit-transform: translate(-25%, -25%);
	transform: translate(-25%, -25%);
	-webkit-transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
	transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
	width: 100%;
	-webkit-box-shadow: 0 2px 18px rgba(0, 0, 0, .16);
	box-shadow: 0 2px 18px rgba(0, 0, 0, .16);
	border-radius: 4px;
}

.language-select ul[role=listbox] li {
	height: 48px;
	margin: 0;
	padding: 10px 0px;
	margin: 0 16px;
	outline: none;
	overflow: hidden;
	cursor: pointer;
}

.language-select ul li#state2_AK {
	border-bottom: 1px solid #ccc !important;
}

/* .language-select ul[role=listbox] li:focus, .language-select ul[role=listbox] li:hover, .language-select ul[role=listbox] li.active {
	background: rgba(0, 0, 0, 0.1);
  } */
.language-select.active ul {
	max-height: 200px;
	overflow: auto;
	padding: 15px 0;
	z-index: 2;
	text-align: left;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.language-select.active ul .h4 {
	padding: 0 15px;
	color: #D7202B;
	margin-top: 0;
	font-weight: 800;
}


.input-group-addon ~ input {
	border-left: 0 !important;
}


.language-select.active ul .h4 svg {

	position: relative;
	right: -30px;
}

.language-select.active ul li {
	position: relative;
}

.language-select.active ul li span {
	font-size: 15px;
	font-weight: 500;
	color: #000;
	padding-left: 10px;
}

.language-select.active ul li span::after {
	content: '';
	height: 14px;
	width: 14px;
	border-radius: 50%;
	border: 1px solid #ccc;
	position: absolute;
	right: 10%;
	top: 18px;
}

.language-select.active ul li.active span::after {
	border: 4px solid #D7202B;
}

.nav.navbar-nav.navbar-right {
	margin-right: 0;
}

.nav.navbar-nav.navbar-right li {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding: 11px 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;

}
div.dataTables_wrapper {
	width: 100%;
	margin: 0 auto;
}
.nav.navbar-nav.navbar-right li a {
	padding: 0;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	padding-top: 8px;
}

.social {
	list-style-type: none;
	margin-top: 9px;
	margin-left: -15px;
}

.social li {
	display: inline-block;
	margin-left: 10px;
}

.social li a {
	display: inline-block;
}

.social li a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.title_main {
	margin-bottom: 30px;
}

.title_main h2 {
	color: #12aec7;
	font-size: 38px;
	text-transform: uppercase;
	position: relative;
	text-align: center;
}

.title_main h2:after {
	content: '';
	display: block;
	height: 22px;
	width: 181px;
	margin: 15px auto 0 auto;
	background: transparent url(../images/title-line.png) no-repeat center top;
}

.wrapper {
	height: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}

.main-header {
	position: relative;
	z-index: 1040;
	/*box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);*/
}

body .main-header .navbar {
	margin-bottom: 0;
	min-height: 56px;
	border-radius: 0;
	width: 100%;
	position: fixed;
	border: none;
	right: 0;
	background-color: #FFFFFF;
	padding-left: 0;
	-webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
	-webkit-transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, width .3s ease-in-out;
	transition: transform .3s ease-in-out, width .3s ease-in-out, -webkit-transform .3s ease-in-out;

}

body.sidebar-open .main-header .navbar {
	width: calc(100% - 220px);
	right: 0;
	-webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
	-webkit-transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, width .3s ease-in-out;
	transition: transform .3s ease-in-out, width .3s ease-in-out, -webkit-transform .3s ease-in-out;
	box-shadow: 0px 1px 15px rgba(0, 0, 0, .16);
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
	float: right;
	margin-top: 30px;
	padding-right: 28px;
}

.main-header .home-logo-2 {
	margin: 15px 5px 5px 10px;
	float: left;
}

.inner-logo {
	float: left;
	border-left: #ccc solid 1px;
	padding-left: 15px;
}

.user-profile-box {
	padding: 14px 5px 14px 15px;
	min-height: 80px;
	position: relative;
}

.user-profile-box .user-img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
	margin-right: 10px;
}

.user-profile-box .user-name h4 {
	margin-bottom: 0px;
	font-weight: 700;
	font-size: 16px;
}

.user-profile-box .user-name span {
	font-size: 12px;
	color: #D7202B;
}

.sidebar-open .left-side-work.main-sidebar {
	position: fixed;
	left: 0;
	max-height: 100vh;
	width: 220px !important;
	z-index: 1040;
	-webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
	-webkit-transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, width .3s ease-in-out;
	transition: transform .3s ease-in-out, width .3s ease-in-out, -webkit-transform .3s ease-in-out;
	background-color: #FFF;
	padding-bottom: 0px;
	padding-top: 0px;
	bottom: 0;
	top: 0px;
	-webkit-box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.20);
}
.sidebar-open .left-side-work.main-sidebarMap{
	width: 305px!important;
}
.content-wrapper {
	-webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
	-webkit-transition: margin .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: margin .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, margin .3s ease-in-out;
	transition: transform .3s ease-in-out, margin .3s ease-in-out, -webkit-transform .3s ease-in-out;
	padding: 0;
	z-index: 800;
}

.left-side-work.main-sidebar {
	position: fixed;
	left: 0;
	max-height: 100vh;
	width: 60px;
	z-index: 1039;
	-webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
	-webkit-transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, width .3s ease-in-out;
	transition: transform .3s ease-in-out, width .3s ease-in-out, -webkit-transform .3s ease-in-out;
	background-color: #FFF;
	padding-bottom: 0px;
	padding-top: 0px;
	bottom: 0;
	top: 0px;
	-webkit-box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.20);
}
.main-sidebar.left-side-work.main-sidebarMap {
	width: 0px;
}
.sidebar-menu> li > a span {
	display: none !important;
}


.main-sidebar.left-side-work .user-profile-box .user-img, .main-sidebar.left-side-work .user-profile-box .user-name  {
	display: none
}

.sidebar-open .main-sidebar.left-side-work .user-profile-box .user-img, .sidebar-open .main-sidebar.left-side-work .user-profile-box .user-name  {
	display: block;
}

.sidebar-open .main-sidebar.left-side-work .user-profile-box .sidebar-toggle{
    position: absolute;
	right: 10px;
	padding: 0;
}

.main-sidebar.left-side-work .user-profile-box .sidebar-toggle {
	position: absolute;
	right: 0px;
	padding: 20px;
}

.user-profile-box .sidebar-toggle{
	position: absolute;
	right: 10px;
}


.sidebar-open .sidebar-menu> li > a span {
	display: inline-block !important;
}


.ikea-pages .search-bar, .ikea-pages .content-wrapper{
    margin-left: 60px;
}
.map .content-wrapper{
    margin-left: 0px;
}
body .main-header .navbar {
	width: calc(100% - 60px);
}

.left-side-work.main-sidebar {
	-webkit-transform: translate(0px, 0);
	transform: translate(0px, 0);
}


.dropdown.notifications-menu svg path {
	fill: #D7202B;
}

.content-header {
	position: relative;
	padding: 15px 15px 0 15px;
}
.main-header .sidebar-toggle {
	float: left;
	background-color: transparent;
	background-image: none;
	padding: 17px 15px;
	font-family: fontAwesome;
	-webkit-transform: translate(0, 45%);
	        transform: translate(0, 45%);
}

.main-header .navbar .sidebar-toggle {
	color: #D7202B;
}

.main-header .navbar .sidebar-toggle:focus,
.main-header .navbar .sidebar-toggle:hover {
	text-decoration: none;
}

.main-header .sidebar-toggle::before {
	content: "\f0c9";
}

.sidebar-collapse .main-sidebar {
	-webkit-transform: translate(-230px, 0);
	transform: translate(-230px, 0);
}

/* ----- sidebar-open css ------ */
.main-sidebar {
	-webkit-transform: translate(-230px, 0);
	transform: translate(-230px, 0);
}

.sidebar-open .main-sidebar {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.sidebar-open .main-header .logo {
	/*
-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	*/
}

.sidebar-open .main-header .navbar {
	padding-left: 220px;
}

.sidebar-open .content-wrapper {
	margin-left: 230px;
}

.sidebar-open .search-bar {
	margin-left: 220px;
}

.sidebar-close {
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline-block;
	padding: 2px 6px;
	display: none;
}

/* ----- sidebar-open css end ------ */
.sidebar {
	padding-bottom: 10px;
}

.sidebar-menu {
	list-style: none;
}

.sidebar-menu li.header {
	padding: 10px 25px 10px 15px;
	font-size: 12px;
}

.sidebar-menu>li {
	position: relative;
	margin: 0;
	padding: 0;
}

.sidebar-menu>li>a {
	padding: 14px 5px 14px 15px;
	display: block;
	color: #666666;
	font-size: 16px;
	border-left: 4px solid transparent;
}

.sidebar-menu>li>a:hover {
	background: #f6f8fa;
	text-decoration: none;
}

.sidebar-menu>li>a>i {
	width: 22px;
	font-size: 15px;
	color: #999;
	margin-right: 0px;
	text-align: center;
	display: inline-block;
	position: relative;
	top: 1px;
}

.sidebar-menu>li.active>a>i {
	color: #666;
}

.sidebar-menu>li.active>a {
	color: #666;
}

.sidebar-menu>li>a span {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
}

.sidebar-menu li>a>.pull-right-container {
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -9px;
}

.sidebar-menu>li .label-num {
	margin-right: 5px;
	color: #666666;
	background-color: #F6F8FA;
	font-weight: 400;
	font-size: 13px;
	border-radius: 50% !important;
	padding: 4px 7px 5px;
	line-height: 1;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;

}

.logo-main {
	display: block;
}

.logo-mini {
	display: none;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	color: #777;
	text-decoration: none;
	background-color: #f5f5f5;
}

.navbar-nav>.notifications-menu>.dropdown-menu {
	left: auto;
	min-width: 330px;
	max-width: 330px;
	right: -20px;
	border: none;
	padding: 0;
	margin-top: 10px;
	border-radius: 5px;
}

.navbar-nav>.notifications-menu>.dropdown-menu::before {
	content: '';
	width: 0px;
	height: 0px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #fff;
	position: absolute;
	right: 23px;
	top: -10px;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 0px 22px rgba(0, 0, 0, .5);
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	background: transparent;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.header {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #ffffff;
	padding: 7px 10px;
	border-bottom: 1px solid #ccc;
	color: #005792;
	font-size: 14px;
	font-weight: 600;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	font-size: 14px;
	padding: 7px 10px 13px;
	border-top: 0;
	color: #D7202B !important;
	text-align: center;
	margin: 0 30px 0 25px;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu {
	max-height: 410px;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-x: hidden;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #D7202B;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #D7202B;
	background-color: #555;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li {
	position: relative;
	padding: 0 20px 0 35px;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li.status-dot:before {
	content: '';
	width: 7px;
	height: 7px;
	background-color: #D7202B;
	position: absolute;
	left: -15px;
	top: 9px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li:last-child {
	border-bottom: none;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a {
	display: inline-block;
	padding: 0;
	color: #333;
	font-size: 15px;
	line-height: 1.5;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	position: relative;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a.new-notify::before {
	content: '';
	height: 8px;
	width: 8px;
	border-radius: 50%;
	position: absolute;
	background: #D7202B;
	top: 18px;
	left: -20px;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a:hover {
	text-decoration: none;
	color: #D7202B;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a i {
	color: #005792;
}

.main-header .navbar .nav > li > a > .label {
	position: absolute;
	top: 8px;
	right: 3px;
	text-align: center;
	font-size: 12px;
	padding: 2px 3px;
	line-height: .9;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-color: #fff;
	font-weight: normal;
	padding-top: 5px;
	color: #FA2A43;
	border: 1px solid #ECECEC;
	box-shadow: 1px 1px 12px rgba(0, 0, 0, .16);
}

.navbar-nav>.notifications-menu>a {
	padding: 0px 2px;
	width: 24px;
	height: 24px;
}

.navbar-nav>.notifications-menu>a>i {
	font-size: 24px;
	color: #005792;
}

.main-header .navbar-custom-menu li.notifications-menu>a>.label {
	top: -10px;
	right: -10px;
}

.notifications-menu .ntf-date {
	color: #999;
	font-size: 12px;
	margin-top: 2px;
	text-align: right;
	line-height: 1;
}

.navbar-nav>li>a {
	padding-top: 14px;
	padding-bottom: 14px;
	color: #D7202B;
}

.navbar-nav>li>a:hover {
	color: #525f7f;
	background-color: transparent;
}

.main-header .navbar .nav>li>a {
	color: #525f7f;
}

.content-title {
	margin: 0;
	font-size: 20px;
	margin-bottom: 15px;
	font-weight: 600;
	letter-spacing: 0.01em;
}

.whitebox {
	background-color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	min-height: 35px;
}




.sidebar .logo {
	text-align: center;
	display: block;
	margin: 18px auto 13px;
	width: 96px;
	height: 96px;
}

.user-text {
	text-align: center;
	margin-bottom: 25px;
}

.user-text span {
	color: #999;
}

.user-text strong {
	color: #333;
	font-weight: 700;
	font-size: 16px;
}

.search-bar {
	background-color: #ecf1f7;
	margin-left: 0;
	position: relative;
	padding: 0px 5px 0px 60px;
	-webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
	-webkit-transition: margin .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: margin .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, margin .3s ease-in-out;
	transition: transform .3s ease-in-out, margin .3s ease-in-out, -webkit-transform .3s ease-in-out;
	margin-top: 80px;
}

.search-bar input {
	display: block;
	width: 80%;
	height: 54px;
	padding: 10px;
	font-size: 18px;
	color: #555;
	background-color: transparent;
	background-image: none;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.search-bar input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.search-bar .srch-icon {
	position: absolute;
	left: 30px;
	top: 20px;
}

.filter {
	position: absolute;
	right: 15px;
	top: 15px;
	color: #D7202B;
	font-size: 16px;
}

.filter .filter-icon {
	color: #D7202B;
	margin-right: 5px;
}

.filter a {
	display: inline-block;
	padding: 5px 20px;
	background-color: #FFF;
	border-radius: 20px;
	border: #dfe3e9 solid 1px;
}

.filter a:focus,
.filter a:hover {
	text-decoration: none;
	outline: none;
	color: #FFF;
	background-color: #D7202B;
	border-color: #D7202B;
}

.filter a:focus .filter-icon,
.filter a:hover .filter-icon {
	color: #FFFFFF;
}

.filter a.clear-btn {
	color: #FFF;
	background-color: #D7202B;
	border: #D7202B solid 1px;
}

.filter a.clear-btn:hover {
	color: #D7202B;
	background-color: #fff;
}

.filter a+a {
	margin-left: 10px;
}

.logout-btn {
	color: #000;
	text-align: center;
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-transform: uppercase;
	padding:20px 15px;
}


.logout-btn a.logout-bg {
	background-color: #D7202B;
	text-decoration: none;
	color: #fff;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 15px;
	font-size: 16px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'Proxima Nova bold';
	text-align: center;
	border-radius: 5px;
}
.logout-btn a.logout-bg:hover{
	background-color:#B91C25;
	color: #fff;
}
.loadstatus {
	color: #000;
	text-align: center;
	position: absolute;
	top: 0px;
	z-index: 1;
	width: 100%;
	text-transform: uppercase;
	padding:20px 15px;
}

.loadstatus.pStatic a.logout-bg:hover {
    background-color: #000;
	color: #fff;
}

.loadstatus.pStatic{
	position: static;
	padding:20px 15px 0px 15px;
}
.loadstatus a.logout-bg {
	background-color: #000000;
	text-decoration: none;
	color: #fff;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 15px;
	font-size: 16px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'Proxima Nova bold';
	text-align: center;
	border-radius: 5px;
}
.loadstatus a.logout-bg:hover{
	background-color:#B91C25;
	color: #fff;
}

.logout-btn a.logout-bg .icons {
	display: block;
	line-height: 1;
}

.logout-btn a.logout-bg .icons svg * {
	fill: #fff;
}

.sidebar-open .logout-btn a.logout-bg .icons  {
	display: none !important;
}

.logout-btn a.logout-bg .text {
	display: none;
}

.sidebar-open .logout-btn a.logout-bg .text {
	display: block;
}

.logout-btn a:hover {
	color: #0478be;
	text-decoration: none;
}

.logout-btn .logout-icon {
	margin-right: 5px;
}

.fixed_header {
	table-layout: fixed;
	border-collapse: collapse;
}

.fixed_header tbody {
	display: block;
	width: 100%;
	overflow: auto;
	height: 100px;
}

.fixed_header thead tr {
	display: block;
}

.fixed_header thead {
	background: lightgrey;
	color: #fff;
}

.fixed_header th,
.fixed_header td {
	padding: 10px 5px;
	text-align: left;
	width: auto;
}

.table-wrapper {
	padding: 0 15px;
}

.o-id {
	margin: 0;
	color: #666;
	font-size: 12px;
}

.order-list {}

.order-list thead {
	color: #333;
}

.order-list thead th {
	padding: 13px 15px;
}

.order-list tbody tr:nth-child(2n+1) td {
	background-color: #f7f9fb;
}

.order-list tbody tr:nth-child(2n+1) td:first-child {
	border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}

.order-list tbody tr:nth-child(2n+1) td:last-child {
	border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}

.order-list tbody td {
	padding: 13px 15px;
}

.status {
	color: #fff;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border: solid 2px transparent;
	padding: 2px 12px;
	min-width: 90px;
	white-space: nowrap;
}

/*.status:hover{text-decoration:none;background-color:#FFFFFF;}*/
.label-cancelled {
	border-color: #ff2655;
	background-color: #ff2655;
}

/*.label-cancelled:hover {color: #ff2655;}*/
.label-inprogress {
	border-color: #D7202B;
	background-color: #D7202B;
}

/*.label-inprogress:hover{color: #D7202B;}*/
.label-scheduled {
	border-color: #2ecc71;
	background-color: #2ecc71;
}

/*.label-scheduled:hover{color: #2ecc71;}*/
.label-pending {
	border-color: #ff9e47;
	background-color: #ff9e47;
}

/*.label-pending:hover{color: #ff9e47;}*/
.label-completed {
	color: #000;
	border: none;
	background-color: transparent;
	padding: 0;
}

/*.label-completed:hover {color: #666;background-color:transparent;}*/

/* ----------  modal css ---------- */
.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	border-radius: 4px;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.modal-dialog {
	width: 100%;
	max-width: 720px;
	margin: 5% auto 30px;
}

.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .15s ease-out;
	transition: -webkit-transform .15s ease-out;
	transition: transform .15s ease-out;
	transition: transform .15s ease-out, -webkit-transform .15s ease-out;
	-webkit-transform: translate(0, 0) scale(0.90);
	transform: translate(0, 0) scale(0.90);
}

.modal.fade.in .modal-dialog {
	-webkit-transition: -webkit-transform .15s ease-out;
	-webkit-transition: -webkit-transform 0.15s ease-out;
	transition: -webkit-transform 0.15s ease-out;
	transition: transform 0.15s ease-out;
	transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
	-webkit-transform: translate(0, 0) scale(1);
	transform: translate(0, 0) scale(1);
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .1);
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .1);
}

.nav.navbar-nav.navbar-right a {
	padding: 20px 15px;
}

.modal .close {
	margin-top: 0px;
	margin-left: 10px;
	color: #999;
	opacity: 1;
	padding: 0;
	line-height: 1;
	text-shadow: none;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	float: left;
	font-size: 30px;
	position: absolute;
	top: -5px;
	right: 5px;
	z-index: 999;
}

.modal .close:hover {
	color: #D7202B;
	background-color: #fff;
}

.modal .btn-close {
	color: #fff;
	background-color: #D7202B;
	min-width: 80px;
}

/* ----------  modal css end ---------- */
.ol-popup .date-time {}

.ol-popup .title {
	color: #999;
}

.ol-popup .date-time-value {
	color: #000;
	font-size: 16px;
}

.ol-popup .date-time-value span {
	color: #999;
	margin: 0 5px;
}

.ol-popup .modal-header {
	padding: 35px 0 20px;
	border-bottom: 1px solid #e5e5e5;
	margin: 0 35px;
}

.ol-popup .modal-body {
	padding: 20px 0;
	margin: 0 35px;
}

.ol-popup .modal-footer {
	padding: 15px 0 25px;
	margin: 0 35px;
	border-top: none;
}

.ol-popup .modal-header .status {
	position: absolute;
	top: 50px;
	right: 40px;
	padding: 2px 10px;
}

.ol-popup .modal-header .status i {
	color: #D7202B;
	margin-right: 5px;
}

.ol-popup .order-id {
	color: #000;
	font-size: 16px;
	margin-bottom: 5px;
}

.customer-info .ci-row {
	margin-bottom: 10px;
}

.ol-popup .customer-info {
	min-height: 230px;
}

.customer-info .cstmr-label {
	color: #999;
	float: left;
	font-size: 14px;
	width: 25%;
}

.customer-info .value {
	float: left;
	width: 75%;
	font-size: 14px;
}

.ol-popup .last-edited {
	float: left;
	color: #999;
	font-size: 12px;
	margin-top: 10px;
}

.ol-popup .btns-block {
	float: right;
}

.ol-popup .order-display-popup .btns-block {
	float: none !important;
}

.ol-popup .btn-mi {
	color: #D7202B;
	font-size: 16px;
	background-color: transparent
}

.ol-popup .btn-mi i {
	margin-right: 8px;
}

.ol-popup .btn-close {
	border-radius: 20px;
	min-width: 100px;
	padding: 8px 15px;
}

.ol-popup .modal-footer .btn+.btn {
	margin-bottom: 0;
	margin-left: 15px;
}

.img-box-wrapper {
	margin-top: 10px;
}

.img-box-wrapper .img-box {
	float: left;
	margin-right: 15px;
}

.img-box-wrapper .img-box figure {
	overflow: hidden;
	border-radius: 4px;
}

.img-box-wrapper p {
	margin: 0;
	color: #999;
}

/* ------- old css  -------- */
.whitebox+.content-title {
	margin-top: 35px;
}

.lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
	line-height: 0;
	font-weight: normal;
	outline: none;
	top: 50% !important;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.lb-data {
	position: relative;
}

.lb-closeContainer {
	position: absolute;
	top: -20px;
	right: -20px;
	z-index: 999;
}

.lb-data .lb-number {
	display: none !important;
}

.lb-closeContainer .lb-close {
	display: block;
	float: right;
	width: 40px;
	height: 40px;
	background: none;
	text-align: right;
	outline: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.lb-closeContainer .lb-close:hover {
	text-decoration: none;
	background-color: #D7202B;
}

.lb-closeContainer .lb-close::after {
	content: 'x';
	color: #D7202B;
	font-size: 30px;
	display: block;
	text-align: center;
	padding-top: 0;
	min-height: 40px;
	top: 0;
	position: relative;
	line-height: 1;
}

.lb-closeContainer .lb-close:hover:after {
	color: #fff;
}

.lightbox .lb-image {
	border-radius: 0;
	border: none;
}

/*---- Custom checkboxes, radio buttons css -----*/
/* The container */
.container-checkbox {
	font-size: 14px;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 15px;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
	position: absolute;
	top: 1px;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #eee;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input~.checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked~.checkmark {
	background-color: #2196F3;
	border-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
	left: 5px;
	top: 1px;
	width: 7px;
	height: 11px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-options {
	display: none !important;
}

/* The container */
.container-radio {
	color: #000 !important;
	font-size: 14px;
	padding-left: 21px;
	margin-bottom: 12px;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 10px;
}

/* Hide the browser's default radio button */
.container-radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.container-radio .checkmark {
	position: absolute;
	top: -1px;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: #fff;
	border-radius: 50%;
	border: #ccc solid 1px;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input~.checkmark {
	background-color: #eee;
	border: #ccc solid 1px;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked~.checkmark {
	background-color: #D7202B;
	border-color: #D7202B;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked~.checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
	top: 3px;
	left: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*---- Custom checkboxes, radio buttons css end-----*/
.floated-btn {
	color: #FFFFFF;
	position: fixed;
	right: 35px;
	bottom: 50px;
	z-index: 999;
}

.floated-btn a {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #D7202B;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.24);

}

.floated-btn a:hover {
	text-decoration: none;
}

.floated-btn a:focus {
	outline: none;
}

.floated-btn a span {
	display: block;
	text-align: center;
	padding-top: 3px;
}

.floated-btn a span:before {
	color: #FFFFFF;
	font-size: 52px;
	content: '+';
	line-height: 1;
}

.filter-popup .modal-body {
	padding: 20px 30px;
}

.filter-popup .fltr-title {
	color: #D7202B;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 15px;
}

.filter-popup .fltr-title i {
	margin-right: 5px;
}

.filter-popup .fltr-row {
	display: block;
	margin-bottom: 15px;
}

.filter-popup .fltr-label {
	display: block;
	color: #999;
	margin-bottom: 3px;
}

.filter-popup .fltr-input {
	display: inline-block;
	vertical-align: top;
	min-width: 180px;
	position: relative;
}

.filter-popup .fltr-input input {
	padding: 0 25px 0 5px;
}

.filter-popup .fltr-input i {
	color: #D7202B;
	position: absolute;
	top: 10px;
	right: 10px;
}

.filter-popup .fltr-midtxt {
	display: inline-block;
	vertical-align: top;
	padding: 7px 10px 0;
	color: #999999;
}

.btns-block {
	margin-top: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.btn-blue {
	color: #fff;
	background-color: #D7202B;
	min-width: 100px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: solid 1px #D7202B;
	padding: 10px 20px;
	position: relative;
	overflow: hidden;
	font-size: 16px;
	font-weight: 700;
}

.btn-blue:hover {
	color: #fff !important;
	background: #A7020C;
	border-color: #A7020C;
}

.btn i.right {
	margin-left: 5px;
	font-size: 17px;
}

.btn-2 {
	color: #D7202B;
	background-color: #fff;
	min-width: 100px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	padding: 10px 15px;
}

.btn-2:focus,
.btn-2:hover {
	color: #D7202B;
}

.btns-block .btn+.btn {
	margin-left: 10px;
}

.inner-page {
	background-color: #ecf1f7;
}

.inner-nav {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
	background-color: #FFFFFF;
	padding: 15px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1001;
}

.home-icon {
	float: left;
	margin-right: 15px;
}

.navbar-custom-menu {
	float: right;
}

.inner-content {
	padding: 15px;
	margin-left: 0;
	margin-top: 55px;

}

.content-wrapper.inner-content {
	margin-left: 0;
}

.navbar-custom-menu {
	padding-right: 15px;
}

.navbar-custom-menu .navbar-nav>li>a>.label {
	position: absolute;
	top: -8px;
	right: -12px;
	text-align: center;
	font-size: 11px;
	padding: 6px 3px 2px;
	line-height: .9;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-color: #f66b6b;
	font-weight: 400;
	display: block
}

.order-page {
	max-width: 700px;
	position: relative;
	margin: 100px auto;
}

.white-block {
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.06);
	padding: 30px 38px;
	margin-bottom: 15px;
}

.white-block .modal-body {
	padding: 0;
}

.white-block .wb-title {
	color: #D7202B;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
}

.white-block .wb-title i {
	margin-right: 5px;
}

.white-block .form-group label {
	font-weight: 400;
	color: #999999;
	line-height: 1;
	font-size: 14px;
}

.white-block .map-block {
	margin-bottom: 10px;
}

.white-block .map-block input {
	margin-bottom: 10px;
}

textarea.form-control {
	width: 100%;
	overflow-y: auto;
	resize: none;
}

.input-div {
	position: relative;
}

.input-div input {
	padding-right: 25px;
}

/* .input-div i {
	color: #D7202B;
	position: absolute;
	top: 9px;
	right: 10px;
} */
.input-div .fa.fa-calendar {
	color: #D7202B;
	position: absolute;
	top: 9px;
	right: 10px;
}

.input-div .show-password {
	color: #D7202B;
	position: absolute;
	top: 9px;
	right: 10px;
	z-index: 99;
}

.rdo-right {
	position: relative;
	padding-left: 25px;
}

.rdo-right:before {
	content: '';
	width: 1px;
	background-color: #ccc;
	display: block;
	position: absolute;
	left: 0;
	top: 4px;
	bottom: 2px;
}

.rdo-div {
	padding-top: 7px;
}

.step-nav {
	position: absolute;
	top: 0;
	right: 0;
}

.step-nav ul {
	list-style-type: none;
	text-align: right;
	position: relative;
	top: 0px;
	padding-top: 1px;
	right: 20px;
}

.step-nav li {
	color: #fff;
	font-weight: 600;
	display: inline-block;
	background-color: #CCCCCC;
	padding: 2px 0 0;
	width: 25px;
	height: 25px;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
}

.step-nav ul li:before {
	content: '';
	display: block;
	position: absolute;
	height: 2px;
	background-color: #CCCCCC;
	left: -27px;
	width: 20px;
	top: 11px;
}

.step-nav ul li:first-child:before {
	display: none;
}

.step-nav ul li.done {
	background-color: #fff;
	position: relative;
}

.step-nav ul li.done:after {
	content: "\f00c";
	font-family: FontAwesome;
	width: 25px;
	height: 25px;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-color: #D7202B;
	display: block;
	top: 0;
	position: absolute;
	padding-top: 3px;
	font-size: 14px;
	font-weight: normal;
}

.step-nav ul li.current {
	background-color: #D7202B;
}

.page-title {
	font-size: 24px;
	color: #000000;
	font-weight: 600;
	margin-bottom: 35px;
	padding-left: 36px;
}

.step-tabs {}

.step-tabs li {
	padding: 0;
	margin: 0 7px;
}

.step-tabs li.active {
	border-bottom: 2px solid #D7202B;
}

.step-tabs li a, .no-tabs {
	padding: 18px 15px;
	text-align: center;
	width: 100%;
	background-color: transparent !important;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	border-bottom: 2px solid #fff;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.no-tabs {
	color: #D7202B;
	font-weight: 800;
	line-height: 20px;
	margin: 0;
	font-size: 16px;
}

.step-tabs li a i {
	font-size: 28px;
	color: #ccc;
}

.step-tabs li a p {
	margin: 0;
	color: #999999;
	font-size: 16px;
	font-weight: 800;
}

.step-tabs li a:hover {
	background-color: #ecf1f7 !important;
}

.step-tabs li:hover i,
.step-tabs li.active i {
	color: #D7202B;
}

.step-tabs li:hover p,
.step-tabs li.active p {
	color: #D7202B;
}

.step-tabs.nav>li>a:focus,
.step-tabs.nav>li>a:hover {
	text-decoration: none;
	background-color: transparent;
}

.unit-num-btn {
	color: #525f7f;
	font-size: 14px;
	padding: 0;
	margin: 6px 0 5px 0;
}

.btn-minus,
.btn-plus {
	color: #FFFFFF;
	background-color: #0277BD;
	font-size: 12px;
	line-height: 1;
	padding: 0;
	width: 18px;
	height: 18px;
	border-radius: 50%;
}

.btn-minus i,
.btn-plus i {
	line-height: 18px;
}

.unit-num-btn input.form-control {
	color: #525f7f;
	font-size: 16px;
	font-weight: 700;
	width: 35px;
	display: inline-block;
	text-align: center;
	padding: 0 3px;
	background-color: #FFFFFF;
	height: auto;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: relative;
	top: 1px;
}

.wb-label {
	font-weight: normal;
	color: #999;
}

.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
	margin-top: 0;
	margin-left: 0;
}

.info-row {
	border-bottom: #ccc solid 1px;
	position: relative;
}

.info-row+.info-row {
	margin-top: 25px;
}

.addmore {
	text-align: right;
	margin-top: 15px;
	margin-bottom: 10px;
}

.addmore a {
	color: #D7202B;
}

.addmore a i {
	font-size: 12px;
}

.addmore a:hover {
	color: #000000;
	text-decoration: none;
}

.dw-dimention {}

.dw-dimention .dw-item {
	display: inline-block;
}

.dw-dimention .dw-item .mid-txt {
	margin: 0 5px;
}

.dw-dimention .form-control {
	max-width: 100px;
}

.successfull-page {
	text-align: center;
	padding: 70px 0;
	margin-top: 35px;
}

.successfull-page .success-icon {
	margin-bottom: 15px;
}

.successfull-page .success-txt {
	font-size: 16px;
	margin-bottom: 30px;
	letter-spacing: 0.012em
}

.successfull-page .success-btn .btn {
	min-width: 120px;
	margin: 0 10px;
}

.subtitle-row {
	margin-top: 0;
	margin-bottom: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.subtitle-row .subtitle {
	color: #333;
	font-size: 16px;
	display: inline-block;
	font-weight: 700;
	margin-bottom: 0;
}

.subtitle-row a {}

.subtitle-row a:hover {
	text-decoration: none;
}

.subtitle-row .edit-icon {
	color: #999999;
	margin-left: 5px;
}

.text-ltblue {
	color: #D7202B;
}

.total-amount {
	font-size: 16px;
}

.total-amount strong {
	color: #D7202B;
	font-size: 24px;
	font-weight: 700;
	display: block;
}

.summary-btns {
	margin-top: 10px;
}


.slick-arrow {
	position: absolute;
	top:50%;
	margin-top: -20px;
	z-index: 10;
  }

  .slick-prev {
	left: -50px;
  }

  .slick-next {
	right: -50px;
  }

  .element-item {
	border:1px solid #fff;
  }

  .button-group .active .btn {
	color: #fff;
	  background-color: #28a745;
	  border-color: #28a745;
  }

  .element-item {
	/* position: static !important; */
	/*width: 200px !important;*/
  }

  .slick,
  .slick-wrap {
	height: 230px !important;
	position: relative;
  }

  .container-new {
	  width: 85vw;
  }

  .mCustomScrollBox+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
  .mCustomScrollBox+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	bottom: -50px !important;
  }

.brand-options-div {}

.brand-options-div .select2-container {
	display: block;
	max-width: 250px;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #ecf1f7;
	color: #D7202B;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #D7202B;
	color: #fff;
}

.select2-search--dropdown {
	display: none;
}

.order-page .third .white-block {
	position: relative;
}

.order-page .order-id {
	color: #999;
	position: absolute;
	top: 42px;
	right: 40px;
}

.deleteitem {
	position: absolute;
	top: -10px;
	right: 0;
	z-index: 1;
}

.deleteitem:hover {
	color: #000000;
	text-decoration: none;
}

.service-preview-detail+.service-preview-detail {
	margin-top: 15px;
	border-top: #ccc solid 1px;
	padding-top: 15px;
}

.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #333;
	text-align: center;
	background-color: #ecf1f7;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn,
.input-group-btn:last-child>.dropdown-toggle {
	border-left: 0;
}

.notifications {
	max-width: 800px;
	margin: 56px auto 0;
	padding: 15px 15px 0 15px;
}

.notifications .white-block {
	padding: 25px 35px;
}

.notifications .notification-day {
	color: #000;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}

.notifications .ntf-row {
	margin-bottom: 6px;
}

.notifications .notification-msg {}

.notifications .notification-time {
	color: #ccc;
	font-size: 12px;
	font-weight: 400;
	text-align: right;
}

.sk-loader {
	z-index: 99999 !important;
}

.sk-loader .overlay-div {
	left: 0px;
	top: 0px;
	bottom: 0;
	right: 0;
	position: fixed;
	opacity: 0.85;
	filter: alpha(opacity=86);
	background: #ecf1f7;
	z-index: 999999999;
}

.sk-loader .loader-inner {
	float: left;
	width: 100%;
	left: 0px;
	top: 50%;
	text-align: center;
	position: fixed;
	padding: 0px;
	z-index: 999999999;
	margin-top: -48px;
}

.sk-loader .loader-image {
	display: block;
	text-align: center;
	color: #000;
	letter-spacing: 0.08em;
}

.white-block .map-block input {
	margin-bottom: 10px;
}

table.dataTable.no-footer,
table.dataTable thead th,
table.dataTable thead td {
	border: none;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom: none;
}

table.dataTable thead th,
table.dataTable thead td {
	padding: 15px 12px;

}

.filter-popup {}

.edit-popup .title {
	color: #D7202B;
	font-weight: 700;
	font-size: 16px;
}

.edit-popup .modal-header {
	margin: 0 30px;
	border-bottom: none;
	padding: 30px 0 5px;
}

.filter-popup .form-control,
.edit-popup .form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.edit-popup label {
	font-weight: 400;
	color: #999999;
	line-height: 1;
}

.edit-popup .modal-footer {
	padding: 0 25px 25px;
	text-align: right;
	border-top: none;
}

.edit-popup .btns-block {
	margin-top: 0;
}

.edit-popup .modal-body {
	padding: 10px 30px;
}

.more-info-popup .date-time .title {
	color: #333333;
	font-size: 14px;
}

.more-info-popup .date-time-value {
	color: #000;
	font-size: 16px;
}

.more-info-popup .date-time-value span {
	color: #999;
	margin: 0 5px;
}

.more-info-popup .modal-header {
	padding: 0 0 20px;
	border-bottom: 0;
	margin: 0;
}

.more-info-popup .modal-header .date-time {
	position: relative;
}

.more-info-popup .modal-header .date-time .subtitle {
	font-size: 20px;
	font-weight: 800;
	margin: 0;
}

.more-info-popup .modal-header .status {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px 10px;
}

.more-info-popup .modal-header .status:hover {
	color: #fff;
}

.more-info-popup .modal-header .status i {
	color: #D7202B;
	margin-right: 3px;
	position: relative;
	top: 1px;
}

.more-info-popup .order-id {
	color: #999;
	position: absolute;
	top: 0;
	right: 0;
}

.more-info-popup .modal-content {
	position: relative;
	background-color: transparent;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.more-info-popup .last-edited {
	float: left;
	color: #999;
	font-size: 12px;
	position: relative;
	top: 35px;
}

.more-info-popup .customer-info {
	position: relative
}

.more-info-popup .btn-blue {
	min-width: 120px;
	letter-spacing: 0.02em
}

.more-info-popup .img-box-wrapper {
	margin-top: 10px;
}

.more-info-popup .mi-block {
	display: none;
}

.img-box-wrapper .img-box img {
	max-width: 96px;
	max-height: 96px;
	height: 96px;
}

.info-row select {
	max-width: 231px;
}

.inner-page .content-wrapper {
	margin-left: 0;
}

table.dataTable tbody th,
table.dataTable tbody td {
	padding: 15px;
}

.select2-container--default .select2-selection--single {
	height: 34px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 32px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 32px !important;
}

.info-row select+input {
	margin-top: 10px;
	max-width: 230px;
}

table.dataTable thead .sorting {
	/*background-image: url("DataTables-1.10.12/images/sort_both.png");*/
	background-image: none;
}

table.dataTable thead .sorting_asc {
	background-image: none;
}

table.dataTable thead .sorting_desc {
	background-image: none;
}

table.dataTable thead .sorting .sort-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url("../images/sort_both.png");
	position: relative;
	top: 1px;
	margin-left: 2px;
}

table.dataTable thead .sorting_asc .sort-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url("../images/sort_asc.png");
	position: relative;
	top: 1px;
	margin-left: 2px;
}

table.dataTable thead .sorting_desc .sort-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url("../images/sort_desc.png");
	position: relative;
	top: 1px;
	margin-left: 2px;
}

#float-none-in-modal {
	float: none !important;
}

.filter-popup textarea.form-control,
.edit-popup textarea.form-control {

	height: auto !important;

}

.form-group label.active {
	color: #D7202B !important;
	font-weight: 600;
}

/*  ----- login-contact-popup css -----  */
.login-contact-popup {}

.login-contact-popup .contact-row {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	padding: 5px 0 15px;
	margin-top: 10px;
}

.login-contact-popup .contact-row.bdr {
	border-bottom: #cbcbcb solid 1px;
	padding: 5px 0 20px;
}

.login-contact-popup .contact-row i {
	color: #000000;
	margin-right: 5px;
	font-size: 24px;
}

.login-contact-popup .close {
	position: absolute;
	top: 15px;
	right: 30px;
}

.login-contact-popup .title-text {
	font-size: 18px;
}

.login-contact-popup .modal-dialog {
	width: 100%;
	max-width: 420px;
	margin: 30vh auto 30px;
}

.login-contact-popup .modal-body {
	padding: 10px 30px;
}

/*  ----- login-contact-popup css end -----  */

.language-menu {
	float: right;
	margin-top: 10px;
	margin-right: 30px;
	padding: 5px 0px 5px 0;
}

.language-menu a:focus,
.language-menu a {
	color: #000;
	text-decoration: none;
}

.language-menu a:hover {
	color: #D7202B;
	text-decoration: none;
}

.language-menu img {
	margin-right: 5px;
}

.language-popup .contact-row {
	color: #000;
	font-size: 18px;
	font-weight: 400;
	padding: 0;
	margin-top: 0;
}

.language-popup .contact-row.bdr {
	padding: 0
}

.language-popup .title-text {
	font-size: 24px;
	color: #333333;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 30px;
}

.language-popup .title-text img {
	margin-right: 7px;
}

.language-popup .container-radio {
	display: block;
	margin: 15px 0 10px;
	padding: 5px 15px 5px 0;
}

.language-popup .container-radio .checkmark {
	left: auto;
	right: 0;
	top: 7px;
}

.language-popup .container-radio img {
	margin-right: 5px;
	position: relative;
	top: -1px;
}

.btn-2 i {
	margin-right: 5px;
}

.btn-2:focus i {
	color: #D7202B;
}


/* Login Page Start */

.login-page {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}

.login-box {
	position: relative;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0;
}

.login-box .img-side,
.login-box .content-side {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.panel-heading {
	margin-bottom: 1rem;
}

.h2 {
	margin-bottom: 10px;
	font-size: 4.8rem;
	font-family: 'Proxima Nova bold';
	font-weight: 800;
}

.panel-heading span.normal-font {
	font-size: 22px;
}

.login-box .content-side .language-box {
	position: absolute;
	top: 20px;
	right: 100px;
}

.login-box .img-side {
	background: url(../images/login-bg.jpg);
	background-position: left;
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	padding: 30px;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.login-box .img-side .h3 {
	font-size: 26px;
	font-weight: 800;
	margin: 10px 0 15px 0px;
}

.login-box .img-side p {
	font-size: 18px;
	padding: 0;
	line-height: 1.7;
	font-family: 'Proxima Nova bold';
}

.login-panel {
	width: calc(100%);
	margin: 0 auto;
}

.panel-input-box .custom-input {

	border-radius: 4px;
	min-height: 45px;
	margin-bottom: 1.3rem;
}

.input-group .form-control:not(:first-child):not(:last-child) {
	border-radius: 4px;
}

.login-box .form-control, .login-box .input-group-addon {
	border-color: #ccc;
	border-width: 2px;
}

.login-box .input-group .form-control:not(:first-child):not(:last-child) {

	border-top-left-radius: 0px;
	border-bottom-left-radius: 0;

}

.panel-input-box .custom-input .form-control,
.panel-input-box .custom-input .input-group-addon {
	-webkit-box-shadow: none;
	box-shadow: none;
	min-height: 45px;
	background: transparent;
}

.link-text {
	color: #D7202B;
	text-decoration: none
}

.link-text:hover {
	text-decoration: none;
}

.panel-input-box .form-submit-btn {
	margin-top: 40px;
}

.form-submit-btn {
	min-width: 140px;
	height: 50px;
	border-radius: 4px;
	color: #fff;
	background: #D7202B;
	font-size: 20px;
	font-weight: 700;
	margin: 1.5rem 0;
}

.normal-font {
	font-size: 16px;
}

/* Login Page End */


/* forget password Page start */

.passwrd-done {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.panel-input-box .passwrd-done .form-submit-btn {
	margin-top: 20px;
}

/* forget password Page End */


/* All-order page start */

.table-wrapper {
	background: #fff;
}

/* .order-list thead tr th {
	width: 16% !important;
	background: red;
} */

.language-select label {
	position: relative;
}

.language-select label img {
	position: absolute;
	left: 0px;
	top: 6px;
}

.btn-btn-default,
.btn-btn-rescheduled,
.btn-btn-done,
.btn-btn-onthe-way,
.btn-btn-reported,
.btn-btn-process {
	border-radius: 5px;
	padding: 2px 15px !important;
	color: #fff;
	overflow: hidden;
	position: relative;
}

.btn-btn-default {
	background: #999999 !important;
}

.btn-btn-rescheduled {
	background: #B1D605 !important;
}

.btn-btn-onthe-way {
	background: #58A3EB !important;
}

.btn-loading-process {
	background: #FFC618 !important;
}

.btn-Delivery-Complete {
	background: #B1D605 !important;
}

.btn-on-the-way{
  	background: #0058AA !important;
}

.btn-on-the-drop-point{
  background-color: #58A3EB;
}
.btn-unloading-process{
  background-color:#28A745;
}


button.btn-btn-process:hover {
	background: #D7202B !important;
	color: #fff;
}

.btn.focus,
.btn:focus,
.btn:hover {
	text-decoration: none;
}

.status:hover {
	color: #fff;
}


/* .ikea-pages .btn.focus, .ikea-pages .btn:focus, .ikea-pages .btn:hover {
	color: #fff;
	text-decoration: none;
} */

.table>tbody>tr>td {
	border: none;
}

.bootstrap-datetimepicker-widget table td {
	height: 30px;
	line-height: 30px;
	width: 30px;
}
.bootstrap-datetimepicker-widget table td span, .bootstrap-datetimepicker-widget table td i {
	display: inline-block;
	width: 54px;
	height: 35px;
	line-height: 24px;
	margin: 2px 1.5px;
	cursor: pointer;
	border-radius: .25rem;
}

.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
	width: 50px;
	font-weight: bold;
	font-size: 1.2em;
	margin: 0;
	background: #E7ECF1;
	border-radius: 50%;
	height: 50px;
	line-height: 2.5;
}

.bootstrap-datetimepicker-widget table td span, .bootstrap-datetimepicker-widget table td i {
	display: inline-block;
	width: 54px;
	height: 25px;
	line-height: 24px;
	margin: 2px 1.5px;
	cursor: pointer;
	border-radius: .25rem;
}

.hide-line svg #Line_20 {
	display: none;
}

.ikea-pages .order-list>tbody>tr:nth-child(2n) {
	background-color: #FAFBFC;
}

.ikea-pages .order-list>tbody>tr:nth-of-type(2n+1) {
	background: transparent;
}

.ikea-pages .order-list tbody tr:nth-child(2n+1) td {
	background-color: transparent;
}

.ikea-pages .order-list thead tr th {
	border-bottom: 1px solid #d4d9de;
	padding-bottom: 20px;
}

.ikea-pages .table-wrapper {
	padding: 0;
}

.sidebar-open .ikea-pages .content-wrapper {
	margin-left: 220px;
}

.ikea-pages .order-list thead tr th:first-child,
.ikea-pages .order-list tr td:first-child {
	padding-left: 45px;
}

.ikea-pages .dataTables_length,
.ikea-pages .dataTables_filter {
	display: none;
}

table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after,
table.dataTable thead .sorting_asc_disabled::after,
table.dataTable thead .sorting_desc_disabled::after {
	position: relative;
	bottom: 0;
	right: 0px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	opacity: 0.5;
	left: 15px;
	top: 3px;
}

.add-new-entery button {
	background: #D7202B;
	height: 70px;
	width: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border-radius: 50%;
	overflow: hidden;
	max-height: 80px;
}

.add-new-entery button svg {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}


.add-new-entery button:hover {
	background:#1b71c1 !important;
}

.ikea-pages .search-bar {
	background-color: #E7ECF1;
}

.ikea-pages .search-bar input {
	color: #333;
}

.ikea-pages .search-bar input::-webkit-input-placeholder {
	color: #333 !important;
}

.ikea-pages .search-bar input:-ms-input-placeholder {
	color: #333 !important;
}

.ikea-pages .search-bar input::-ms-input-placeholder {
	color: #333 !important;
}

.ikea-pages .search-bar input::placeholder {
	color: #333 !important;
}

.ikea-pages .search-bar input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #333 !important;
}

.ikea-pages .search-bar input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #333 !important;
}

.sidebar-open .ikea-pages .main-header .navbar {
	padding-left: 0px;
}

.sidebar-menu>li.active {
	background: #F2f2f2;
}

.border-top-btm {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.select-optins {
	background: #F6F8FA;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
  position: relative;
  top:-4px;
	margin: 0 0 15px 0;
}

.select-optins a {
	padding: 0px 15px;
	height:125px;
	width: 100%;
}

.select-optins a p {
	margin: 10px 0 5px 0;
	color: #333333;
	text-decoration: none;
}

.select-optins a:hover {
	text-decoration: none;
}

.select-optins a:hover p {
	color: #000;
}

.ikea-pages #example_info,
.ikea-pages #example_paginate {
	padding: 15px;
}

.language-menu .language-box {
	position: relative;
}

.language-menu .language-box .language-select [type="button"] {
	background: transparent;
	color: #fff;
	font-weight: 500;
	top: 25%;
	line-height: 1.5;
	border-right: 1px solid #00396E;
}

.language-menu .language-box .language-select {
	position: relative;
	top: 0;
	left: 0;
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
	display: block;
	margin: 0;
	padding-bottom: 2px;
	/* position: relative; */
	min-width: 180px;
	text-align: right;
}

.language-menu .language-box .language-select ul[role="listbox"] {
	-webkit-transform: translate(-0%, -25%);
	transform: translate(0%, -25%);
}

.main-header .sidebar-toggle::before {
	content: "\f0c9";
	font-size: 18px;
	color: #fff;
}

.time-date {
	width: 100%;
	float: right;
	color: #CCCCCC;
	padding: 0;
	font-size: 12px;
	text-align: right;
}

/* All-order page end */



/* All-order page start */

.btn-bdr-default {
	background: transparent;
	border: 1px solid #D7202B;
	padding: 10px 20px;
	border-radius: 4px;
	color: #D7202B;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	font-weight: 700;
}

.btn-bdr-default:hover {
	color: #D7202B;
	background: #edf6ff;
}

.justify-content-end {
	-webkit-box-pack: end !important;
	-ms-flex-pack: end !important;
	justify-content: flex-end !important;
}


.solved-popup .title-text {
	margin-bottom: 15px;
	font-size: 18px;
	color: #D7202B;
}

.solved-popup .modal-body p {
	font-size: 14px;
}

.py-2 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.mb-2 {
	margin-bottom: 1rem !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.pink-fill {
	color: #F20B57 !important;
	border-color: #F20B57 !important;
}

.pink-fill:hover {
	background: #ffe8f0;
}


.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	vertical-align: middle;
}

/* All-order page end */

/* Create Order page Start */

.flex-box-radio {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 8px 15px;
}

.flex-box-radio span {
	float: left;
}

.flex-box-radio.container-radio .checkmark {
	position: relative;
	top: 30%;
}

.flex-box-radio p:first-child {
	width: 20%;
}

.flex-box-radio p:last-child {
	width: 80%;
}

.flex-box-radio p span {
	width: 100%;
}

.flex-box-radio p span {
	color: #333;
	margin-bottom: 5px;
}

.flex-box-radio p {
	color: #999999;
}

.container-radio input:checked~label {
	background: red;
}

.flex-box-radio p {
	margin: 0;
	float: left;
	text-align: left
}

.info-row p {
	padding-top: 5px;
}

.pr-5 {
	padding-right: 4.7rem !important;
}

.pt-2 {
	padding-top: 15px;
}

.p-0 {
	padding: 0px !important;
}

.shadow-nonu {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.btn.focus,
.btn:focus,
.btn:hover {
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.rdo-div label.active {
	border-color: #D7202B;
	background-color: #E4EDF6;
}

.rdo-div label.active p {
	font-weight: 500;
}


/* Create Order page end */


/* Order-more-info page start */

.order-detail,
.order-more-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	margin: 0;
}

.order-detail .order-page {
	max-width: 720px;
	position: relative;
	margin: 80px 0;
	width: 100%;
	min-width: 720px;
}

.maps-in-details {
	width: 100%;
	height: 94vh;
	position: relative;
	top: 6vh;
	overflow: hidden;
}

.maps-in-details .track-maps,
.maps-in-details .track-maps img {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.order-more-info {
	margin-bottom: 30px;
	padding: 0;
}


.order-more-info .order-page {
	margin: 0;
}

.order-more-info .order-page {
	width: 100%;
	max-width: 720px;
}

.order-more-info .navbar {
	position: relative;
	min-height: auto;
	margin-bottom: 0;
	border: 0;
}

.value-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-top: 15px;
}

.white-bg {
	background: #fff;
}

.order-track-img .img-box-wrapper .img-box img {
	max-width: 160px;
	max-height: 160px;
	height: 160px;
	border-radius: 0;
}

.order-track-img .img-box-wrapper .img-box figure {
	border-radius: 0;
}

.img-box-wrapper .img-box {
	margin-bottom: 15px;
}

.lb-next,
.lb-prev {
	display: none !important;
}

.pt-1 {
	padding-top: 5px !important;
}

.pt-3 {
	padding-top: 20px !important;
}

.status-log-process {
	position: relative;
	overflow: hidden;
}

.status-log-process .step-nav {
	position: relative;
	top: 0;
	left: 0;
}

.status-log-process .step-nav ul {
	text-align: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-flow: column-reverse wrap;
	flex-flow: column-reverse wrap;
	counter-reset: my-awesome-counter;
	list-style: none;
	padding-top: 50px;
}

.status-log-process .step-nav ul li {
	margin: 15px 0 0 0!important;
	background: transparent;
	width: 100%;
	padding-left: 53px;
	height: auto;
	padding-top: 5px;
	text-align: left;
	color: #333;
	font-weight: 500;
	counter-increment: my-awesome-counter;
}


.status-log-process .step-nav ul li::after {
	content: counter(my-awesome-counter);
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	position: absolute;
	top: 5px;
	left: 17px;
	background: #999999;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	height: 28px;
	width: 28px;
	text-align: center;
	line-height: 27px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	z-index: 244;
}


#menu2 .order-page .white-block {
	padding: 25px;
	margin-bottom: 0;
}

.status-log-process .step-nav ul::before {
	background: url('../images/border-line.svg') repeat-y 0 0;
	position: absolute;
	content: '';
	width: 2px;
	height: 100%;
	left: 30px;
	top: -50px;
	z-index: -0;
}

.status-log-process .step-nav ul::after {
	background: #ecf1f7;
	position: absolute;
	content: '';
	width: 2px;
	height: 95px;
	left: 45px;
	border: 0;
	z-index: 1;
	/* background: red; */
	bottom: 0;
}

.status-log-process .step-nav ul li:first-child:after {
	display: block;
}

.step-details {
	padding: 10px 0  10px 0;
	font-size: 14px;
}
.main-sidebarMap .step-details {
	padding: 10px 0  0px 0;
	font-size: 14px;
}
.show-in-xs {
	display: none;
}
.order-status-list {
	list-style-type: none;
	margin: 40px 0 30px 0;
}

.order-status-list li {
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 5px;
	border-bottom: 1px solid #CCCCCC;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.order-status-list li:last-child {
	border: none;
}

.order-status-list li p:last-child {
	text-align: right;
}

.text-dark {
	color: #000 !important;
}

.flex-1 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.in-status-heding {
	font-weight: 800;
	color: #999;
	font-size: 24px;
	margin: 15px 0
}

.justify-content-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.onthe-way-order-track {
	position: absolute;
	left: 3%;
	bottom: 3%;
	max-width: 720px;
	min-width: 710px;
}


/* Order-more-info page End */



/* Main deshboard Page start */


.sidebar-open .ikea-pages .main-deshboard-box {
	margin-bottom: 100px;
}

.heading .h2 {
	font-size: 28px;
	font-weight: 800;
	color: #333333;
	padding: 15px 0;
}

.heading .h2 span {
	font-weight: 300;
}

.main-box-data {
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.06);
	margin-bottom: 15px;
	position: relative;
}

.main-box-data .subtitle-row .subtitle {
	color: #D7202B;
}

.main-box-data .subtitle-row .subtitle i {
	padding-top: 2px;
	float: left;
	padding-right: 15px;
}

.data-board .cstmr-label {
	color: #999;
	float: left;
	font-size: 14px;
	width: 100%;
}

.data-board>ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #FAFBFC;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	padding: 0px;
	list-style-type: none;
}

.data-board>ul li,
.data-board>ul li ul li {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.data-board>ul>li {
	padding: 0px 30px;
}

.data-board>ul li ul {
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 5px;
	border-bottom: 1px solid #ccc;
}

.data-board>ul li ul li {
	text-align: right;
}

.data-board>ul li ul li:first-child {
	text-align: left;
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.data-board>ul li ul li p {
	color: #333333;
	margin: 0;
}

.text-blue {
	color: #D7202B !important;
}

.body-font {
	color: #999999;
	font-size: 14px;
}

.data-board>ul li:last-child ul {
	border: none;
}

.main-deshboard-box .white-block {
	padding: 30px 33px;
}

.bg-light-red {
	background: #F2F4F6!important;
}

.main-deshboard-box .white-block {
	min-height: 260px;
}

/* Main deshboard Page end */


/* Manage Drive and truck page Start */

.manage-drivr-truck-details {
	margin-top: 80px;
}

.transer-data {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	position: relative;
}

.transer-data .card-heading,
.transer-data .card-body,
.transer-data .card-footer {
	width: 100%;
}

.card-heading a {
	font-weight: 600;
	font-size: 12px;
	padding-top: 3px;
}

.divider-y {
	position: relative;
	background: #ccc;
	width: 1px;
}

.manage-drivr-truck-details .main-box-data {
	margin-bottom: 30px;
}

.text-red {
	color: #FA2A43;
}

.card-heading {
	border-bottom: 1px solid #ccc;
}

.pos-absolute {
	position: absolute;
}

.pos-relative {
	position: relative;
}

.right-side-0 {
	right: 0;
}

.input-div .pos-relative {
	position: relative !important;
	top: 0px;
	padding: 2px;
	right: 0;
}
.input-div .pos-relative svg {
	width: 20px;
	height: 17px;
}




/* Manage Drive and truck page end */


/* manage-delivery Page start */

.manage-delivery {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.list-number .number-box,
.list-number {
	height: 25px;
	width: 25px;
	text-align: center;
	display: block;
	font-weight: 14px;
	border-radius: 50%;
	border: 1px solid #ccc;
}

.card-footer {
	border-top: 1px solid #ccc;
}

.manage-delivery tr {
	padding: 1rem 2.5rem;
	overflow: hidden;
}

.manage-delivery tr:nth-child(2n) {
	background: #FAFBFC;
}

.manage-delivery td,
.manage-delivery th {
	padding: 0;
	-webkit-box-flex: 1.2;
	-ms-flex: 1.2;
	flex: 1.2;
	position: relative;
}

.manage-delivery table tbody tr td:nth-child(2n) {
	-webkit-box-flex: 5;
	-ms-flex: 5;
	flex: 5;
}

.manage-delivery table tbody tr td:nth-child(3n) {
	-webkit-box-flex: 3;
	-ms-flex: 3;
	flex: 3;
	text-align: right;
}

.border-one {
	border: 1px solid #CCCCCC;
}

.min-height-65 {
	min-height: 65px;
}

.border-bottom-one {
	border-bottom: 1px solid #CCCCCC;
}

.text-gray {
	color: #999999 !important;
}


.select-switch-truck label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 5px;
}


.opacty-0 {
	opacity: 0 !important;
}

.select-switch-truck .flex-box-radio p:last-child {
	width: 100%;
}

.text-center {
	text-align: center !important;
}

.radio-inline.flex-box-radio.active {
	background: #E4EDF6;
	border-color: #D7202B;
}

.LeftFloat {
	float: left
}

.RightFloat {
	float: right
}

.FieldContainer {}

.OrderingField {
	margin: 3px;
	background: #fff;
}

.OrderingField div.Commands {
	width: 40px;
}

.OrderingField button {
	width: 40px;
}

.sortboard .list-number,
.sorting-arrow {
	position: absolute;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: translate(-100%, 10%);
	transform: translate(-100%, 10%);
	top: 0;
}

.sorting-arrow {
	top: -15px;
}

.sortboard .sorting-arrow {
	position: relative;
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	top: 0;
	-webkit-transform: translate(0%, 10%);
	transform: translate(0%, 10%);
}

.sortboard>tr>td .sorting-arrow button {
	background: #CCCCCC;
}

.sorting-arrow button {
	background: #D7202B;
	height: 20px;
	width: 20px;
	line-height: 0;
	padding: 0;
	margin: 3px 0;
	border-radius: 50%;
}

.sorting-arrow button svg {
	height: 15px;
	width: 10px;
	padding-bottom: 2px;
}

.sorting-arrow button:last-child svg {
	padding: 0;
}

.sortboard tr:first-child td .sorting-arrow button:first-child {
	background: #CCCCCC;
}

.sortboard tr:last-child td .sorting-arrow button:last-child {
	background: #CCCCCC;
}

.sorting-arrow .LeftFloat {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}


/* manage-delivery Page End */



/* Track Order Page start */

.track-order-page {
	position: relative;
	padding: 0;
	margin: 0;
	/* display: -webkit-box; */
	/* display: -ms-flexbox; */
	/* display: flex; */
	/* -webkit-box-orient: vertical; */
	/* -webkit-box-direction: normal; */
	/* height: calc(100vh - 60px); */
	/*height: calc(100vh - 60px);*/
	overflow: hidden;
}

.track-order-page .map-box {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: calc(100vh - 40vh);
	overflow: hidden;
}

.track-order-page .map-box img {
	max-width: 100%;
}

.track-order-page .track-order-process {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: calc(100vh - 67vh);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
	background: #fff;
}

.track-order-page .track-order-process .order-track-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	position: relative;
	background: #E7ECF1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 55px;
}

.track-order-process .order-body .tab-content .tab-pane,
.track-order-process .order-body .tab-content,
.track-order-process .order-body .tab-content .slick-wrap {
	height: 100%;
}

.track-order-page .track-order-process .order-track-header .step-tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	list-style-type: none;
}

.order-body {
	padding: 20px;
	height: 85%;
}

.track-order-page .track-order-process .order-track-header .step-tabs li {
	margin: 0;
}
/*
.slick-wrap {
	overflow-x: scroll;
}

.mcs-horizontal {
	width: 1800px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	height: 95%;
	;
} */

.mcs-horizontal .element-item {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.track-order-page .track-order-process .order-track-header .step-tabs li.active {
	border: none;
	color: #000;
	background: #fff;
}

.track-order-page .track-order-process .order-track-header .step-tabs li a {
	padding: 15px 40px;
}

.track-order-page .track-order-process .order-track-header .btn-blue {
	padding: 5px 20px;
	font-size: 14px;
	margin-right: 15px;
}

.track-order-page .track-order-process .order-process-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: row;
	-ms-flex: row;
	flex: row;
	min-height: 80%;
}

.track-order-page .track-order-process .order-process-body .box-fix-scroll {
	position: relative;
	width: 100%;
}

.track-order-page .track-order-process .order-process-body .order-process-status {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	background: #FAFBFC;
	border-radius: 4px;
	padding: 15px;
}

.order-done {
	height: 25px;
	width: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 50%;
	background: #B1D605;
	margin-right: 10px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.order-process-status {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	background: #FAFBFC;
	border-radius: 4px;
	padding: 15px;
	min-height: 200px;

}

.order-body {
	padding: 20px;
}

.img-fluid {
	height: 100%;
	margin: 10px 10px 0 10px;
}

.element-item  .img-fluid {
	padding: 10px 10px 0 10px;
	margin: 0;
}


.mCustomScrollBox+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	bottom: -20px !important;
}

.head-sec {
	padding-bottom: 15px;
}

.color-yellow {
	background: #FFC618;
}

.manage-delivery .track-deliver-manage td,
.manage-delivery .track-deliver-manage th {
	padding: 0;
	-webkit-box-flex: 10;
	-ms-flex: 10;
	flex: 10;
	position: relative;
}

.manage-delivery .track-deliver-manage td:last-child,
.manage-delivery .track-deliver-manage th:last-child {
	padding: 0;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}

.manage-delivery .track-deliver-manage .sorting-arrow .LeftFloat {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
/* Track Order Page End */
/*add-new-customer*/
.ikea-pages .search-bar{
	background: #f5f5f5 0% 0% no-repeat padding-box;
	opacity: 1;
}
.card{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 0px #00000014;
	border-radius: 4px;
	opacity: 1;
	margin-top: 62px;
}
.cartitle{
	padding:15px 25px;
	border-bottom: solid 1px #E9878D;
}
.card-img{
	width: 158px;
	height: 158px;
	background: transparent url('img/Ellipse 37.png') 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	opacity: 1;
	border-radius: 100%;
	overflow: hidden;
	margin: -62px 0 0 0;
}
.card-img img{
	max-width: 100%;
}
.card-content{
	padding: 25px;
}
.card-img .img-fluid{
	margin: 0px;
}
.cartitle .h4{
	font-family: 'Proxima Nova bold';
	font-size: 16px;
	color: #333333;
	margin: 0px!important;
	padding: 0;
}
.card-link{
	margin: 0px;
	padding: 0;
	list-style: none;
}
.card-link li{
	display: inline-block;
	padding: 0 33px 0 0;
	position: relative;
}
.card-link li:last-child{
	padding: 0 0px 0 0;
}
.card-link li:after{
	content: '|';
	color: #CCCCCC;
	position: absolute;
	right: 15px;
	top: 5px;
	font-size: 20px;
}
.card-link li:last-child:after{
	content: '';
}
.card-link li a{
	text-decoration: none;
	font-family: 'Proxima Nova bold';
	font-size: 12px;
	color: #D7202B;
	transition: all ease-in 0.3s;
}
.card-link li a:hover{
	text-decoration: none;
	color: #000;
}
.cardDetails{
	-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-flow: row wrap;flex-flow: row wrap;
	padding-bottom: 10px;
	margin-bottom: 0px;
}
.cardDetails dt, dd{
	font-size: 14px;
	font-family: 'Proxima Nova Rg';
}
.cardDetails dt{
	color:#999999;
	margin-right: auto;
}
.cardDetails dd{
	text-align: right;
	color: #333333;
}
.addressTityle{
	color:#999999;
	font-size: 14px;
	font-family: 'Proxima Nova Rg';
}
.userDetail {
	color: #333333;
	font-family: 'Proxima Nova Rg';
	font-size: 12px;
}
.breadcrumbStylediv{
	padding:30px 15px 25px 15px;
	align-items: center;
}
.mt-30{
	margin-top: 30px;
}
.align-items-baseline{
	align-items: baseline;
}
.breadcrumbStyle li{
	list-style: none;
	display: inline;
	font-family: 'Proxima Nova bold';
	font-size: 16px;
	color: #333333;
	position: relative;
	padding-right: 20px;;
}
.breadcrumbStyle li:last-child{
	padding-right: 0;
}
.breadcrumbStyle li:last-child::after{
	content: '';
}
.breadcrumbStyle li::after{
	content: '/';
	position: absolute;
	right: 7px;
	color:#999999;
}
.breadcrumbStyle li a{
	color: #333333;
	text-decoration: none;
}
.breadcrumbStyle li.active a{
	color: #999999;
	text-decoration: none;
}
.list-pegination{
	list-style: none;
}
.list-pegination li{
	float: left;
}
.list-pegination li span{
	border: solid 1px #D7202B;
	padding: 10px 10px;
	color: #D7202B;
	background: #ffffff;
	line-height: 30px;
}
.list-pegination li a{
	border: solid 1px #D7202B;
	text-decoration: none;
	text-align: center;
	font-family: 'Proxima Nova Rg';
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0;
	background: #FFFFFF;
	color: #D7202B;
	opacity: 1;
	display: inline-block;
	padding: 0px 10px;
}
.list-pegination li a:hover{
	background: #D7202B;
	color: #FFFFFF;
}
.clearfix{
	clear: both;
}
/*add-new-customer*/
/*add-new-Driver*/

.cardNew{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	padding: 20px 25px;
	margin-top: 0;
}
.cardNew .card-img{
	margin:0px;
}
.driverInfo{
	flex-flow:column;
	padding-left: 40px;
}
.cardNew .cartitle{
    padding: 15px 0px;
    border-bottom: solid 1px #E9878D;
}
.cardNew .card-content{
	padding: 15px 0px;
}
.cardNew .card-link li{
    display: inline-block;
    padding: 0 15px 0 0;
    position: relative;
}
.cardNew .card-link li:last-child{
	padding: 0;
}
.cardNew .card-link li:last-child:after{
	content: '';
}
.cardNew .card-link li::after{
	content: '|';
	color:#CCCCCC;
    position: absolute;
    right: 5px;
    top: -1px;
    font-size: 20px;
}
.flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
}
/*add-new-Driver*/
/*map page*/
.status-log-process {
    position: relative;
    overflow: hidden;
}
.status-log-process .step-nav {
    position: relative;
    top: 0;
    left: 0;
}
.status-log-process .step-nav ul {
	overflow: hidden;
	text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse wrap;
    flex-flow: column-reverse wrap;
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-top: 20px;
	position: relative;
	right: 0px;
}
body .sidebar-toggle:hover, body.sidebar-open .sidebar-toggle:hover, body .sidebar-toggle:visited, body.sidebar-open .sidebar-toggle:visited {
	border: none !important;
	text-decoration: none;
	outline: none;
}
body.sidebar-open .sidebar-toggle .fa.fa-bars {
	display: none ;
}
body.sidebar-open .sidebar-toggle .fa.fa-times {
	display: block;
}

body .sidebar-toggle .fa.fa-times {
	display:none ;
}
body .sidebar-toggle .fa.fa-bars {
	display: block;
}

.status-log-process .step-nav ul li span{
	color: #ffffff;
}
.green-light{
	background: #B1D605;
}
.green-success{
	background: #28A745;
}
.color-primiery{
	background: #58A3EB;
}
.color-secondery{
	background: #0058AA;
}
.color-warnning{
	background: #FFC618;
}
.color-alert{
	background: #D7202B;
}

.status-log-process .step-nav ul li.color-alert span.btn-btn-default{
	background: #D7202B!important;
}
.status-log-process .step-nav ul li.color-alert::after{
	background: #D7202B;
}
.status-log-process .step-nav ul li.color-warnning span.btn-btn-default{
	background: #FFC618!important;
}
.status-log-process .step-nav ul li.color-warnning::after{
	background: #FFC618;
}
.status-log-process .step-nav ul li.color-secondery span.btn-btn-default{
	background: #0058AA!important;
}
.status-log-process .step-nav ul li.color-secondery::after{
	background: #0058AA;
}
.status-log-process .step-nav ul li.color-primiery span.btn-btn-default{
	background: #58A3EB!important;
}
.status-log-process .step-nav ul li.color-primiery::after{
	background: #58A3EB;
}
.status-log-process .step-nav ul li.green-success span.btn-btn-default{
	background: #28A745!important;
}
.status-log-process .step-nav ul li.green-success::after{
	background: #28A745;
}
.status-log-process .step-nav ul li.green-light span.btn-btn-default{
	background: #B1D605!important;
}
.status-log-process .step-nav ul li.green-light::after{
	background: #B1D605;
}
#map {
	background-size: auto;
    background-size: cover;
    height: 100vh !important;
    width: 100%;
}
.cancelButton{
    opacity: 1;
    position: absolute;
    right: -38px;
	top: 0px;
	padding:0px;
}
.cancelButton a{
	display: block;
	width: 100%;
	padding: 7px 12px;
	color: #ffffff;
	background: #D7202B 0% 0% no-repeat padding-box;
}
.cancelButton i{
	color: #ffffff;
}
.status-log-process .step-nav ul li{
	padding-left: 60px;
	padding-right: 15px;
}
.sidebar-open .logout-bg .fa-sign-out, .sidebar-open .logout-bg .text{
	display: none;
}
.logout-bg .fa-sign-out, .logout-bg .text{
	display:block;
}
.logout-bg .text{
	display:none;
}
.sidebar-open .logout-bg .text{
	display:block;
}
.status-log-process .step-nav ul::after {
	background: transparent;
}
table.dataTable.nowrap td{
    white-space: normal;
}
.logoPosition{
    position: absolute;
    top: 0px;
    z-index: 99;
    margin-top: 15px; 
    right: -190px;
}
.respon-tab-dv svg path, #Vector_Smart_Object path, .btn-popup-responsive-one svg path{
    color: #d8202a;
    fill: #d8202a;
}
.check-input-dv input{
    border:1px solid red!important;
}

.customcontainer{
    position: relative;
    padding-left: 30px!important;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .customcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border:solid 1px #d8202a;
  }
  .customcontainer input:checked ~ .radiobtn {
    background-color: #d8202a;
    }
    .radiobtn {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: #fff;
        border-radius: 50%;
        border:solid 1px #d8202a;
    }
    .customcontainer input:checked ~ .radiobtn:after {
        display: block;
    }
    .customcontainer .radiobtn:after {
        top: 3px;
        left: 3px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: white;
    }
    .radiobtn:after {
        content: "";
        position: absolute;
        display: none;
    }
  .btn-bdr-default svg path{
      fill: #d7202b;
  }

  .customcontainer:hover input ~ .checkmark {
    background-color: #ffffff;
  }

  .customcontainer input:checked ~ .checkmark {
    background-color: #d7202b;
  }


  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .customcontainer input:checked ~ .checkmark:after {
    display: block;
  }

  .customcontainer .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .customcontainer .checkmark2:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .active .hided{
  	display: none;
  }
/*map page*/



/**************table form changes**************/
.td-in-span-dv{
  font-size: 13px;
  color:#999999;
}
.img-select-dv{
  width:85.32px;
  height:85.32px;
}
.img-select-two-dv{

}

.img-select-three-dv{
  width:75.32px;
  height:75.32px;

}
.select-modla-dv{
  margin:10px 0px;
}
.custmer-head-dv{
  position: relative;
  top:5px!important
}
.load-head-dv{
  position: relative;
  top:-5px!important;
}
.white-block .wb-title i svg path, .white-block .wb-title i svg rect {
  fill:#D7202B;
}

.drop-main-right-dv .form-group{
  -border:1px solid red;
  padding:0px 0px;
  position: relative;
  top:-4px;
  left:-43px;
}

/**************table changes end**************/

.right-input-dv .checkbox, .right-input-dv  .radio{line-height: 1;}
.tab-respon-dv{width: 100%; text-align: right;}
.tab-respon-dv button{margin-bottom: 10px;}
.respon-mob-dv {
	width: 100%;
	text-align: right;
}
/*.customer-info .btns-block button{margin-bottom: 10px;}*/

.order-page .page-title {
	padding-left: 0;
}
.remove-driver{}

.remove-driver .modal-dialog {
	 	width: 100%;
	 	max-width: 500px;
	 	margin: 25vh auto 30px;
	 }
.edit-driver-popup .modal-dialog {
	width: 100%;
	max-width: 720px;
	margin: 10vh auto 50px;
}

